Repository firezone/firezone, pull requests merged in 2022-07, with the labels that each got.

#778 fix build
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/test/fz_http/events_test.exs
Labels: skip-changelog

#780 Parallelize CI builds for tests
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
Labels: chore

#782 Update egress rules user guide with user scope ui
  apps/fz_http/lib/fz_http_web/live/rule_live/index.html.heex
  docs/docs/user-guides/egress-rules.md
Labels: docs

#784 Improve user vpn connection status ui
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_status_component.ex
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/vpn_status_component_test.exs
  docs/docs/authenticate/README.md
Labels: enhancement

#783 Add cloudsmith publish
  .github/workflows/build.yml
  .github/workflows/publish.yml
  README.md
Labels: chore

#790 Turn on pull request test
  .github/workflows/test.yml
Labels: skip-changelog

#779 Acme support
  config/config.exs
  docs/docs/administer/manage.md
  docs/docs/authenticate/README.md
  docs/docs/deploy/install-server.md
  docs/docs/deploy/prerequisites.md
  docs/docs/reference/configuration-file.md
  omnibus/config/software/acme.rb
  omnibus/config/software/nginx.rb
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/force_renewal.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/stop_renewal.rb
  omnibus/cookbooks/firezone/recipes/acme.rb
  omnibus/cookbooks/firezone/recipes/app.rb
  omnibus/cookbooks/firezone/recipes/config.rb
  omnibus/cookbooks/firezone/recipes/default.rb
  omnibus/cookbooks/firezone/recipes/force_renewal.rb
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/recipes/phoenix.rb
  omnibus/cookbooks/firezone/recipes/ssl.rb
  omnibus/cookbooks/firezone/recipes/stop_renewal.rb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
  omnibus/cookbooks/firezone/templates/redirect.conf.erb
  scripts/uninstall.sh
Labels: enhancement

#789 Implement PKCE
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
Labels: enhancement

#793 Remove pre-configured Okta & Google OAuth providers
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  config/dev.exs
  config/prod.exs
  config/runtime.exs
  config/test.exs
  docs/docs/administer/upgrade.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/okta.md
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/preinst
Labels: chore, docs

#796 Remove `nodejs` and `python` from build
  .github/workflows/build.yml
  omnibus/config/software/firezone.rb
  omnibus/config/software/nodejs.rb
  omnibus/config/software/python.rb
Labels: chore

#737 Docker DEV
  .devcontainer/Caddyfile
  .dockerignore
  .gitignore
  CONTRIBUTING.md
  Dockerfile
  apps/fz_http/priv/repo/seeds.exs
  docker-compose.yml
  scripts/dev_start.sh
  scripts/post-down-wg.sh
  scripts/post-up-wg.sh
Labels: chore

#799 Remove elixir/erlang from prod build
  .github/workflows/build.yml
  Gemfile.lock
  omnibus/Gemfile.lock
  omnibus/config/software/elixir.rb
  omnibus/config/software/erlang.rb
  omnibus/config/software/firezone.rb
Labels: chore

#801 Add telemetry data to the ping event
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/mfa.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/test/fz_http/telemetry_test.exs
  config/test.exs
Labels: chore

#806 Use to_atom/1 for some ssl_opts keys
  config/runtime.exs
  omnibus/cookbooks/firezone/attributes/default.rb
Labels: bug

#805 Remove old interface when changing names
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/recipes/default.rb
Labels: bug

#800 Logo Customization
  .credo.exs
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/conf.ex
  apps/fz_http/lib/fz_http/conf/cache.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/live/logo_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
  apps/fz_http/lib/fz_http_web/live/sidebar_component.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/priv/repo/migrations/20220713050742_create_configurations.exs
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
Labels: enhancement

#804 NFTables fixes
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/priv/repo/migrations/20220614192937_add_user_id_to_rules.exs
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  docs/docs/administer/upgrade.md
  dummy
  omnibus/config/software/libnftnl.rb
  omnibus/config/software/nftables.rb
Labels: fix

#809 Update install script and docs for Cloudsmith package repo
  docs/docs/administer/upgrade.md
  docs/docs/deploy/README.md
  docs/docs/deploy/install-server.md
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/preinst
  scripts/install.sh
  scripts/uninstall.sh
Labels: chore, docs

#813 Make phoenix crash detection configurable.
  docs/docs/reference/configuration-file.md
  docs/src/css/custom.css
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-finish.erb
Labels: enhancement

#828 Fix handling invalid client reason
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Labels: bug

#825 Fix nil device error for stats push service and use live WireGuard adapter in dev.
  .env.sample
  apps/fz_vpn/lib/fz_vpn/application.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/stats_push_service.ex
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/test.exs
Labels: bug, chore

#827 Guard tput calls for errors from CI
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/preinst
  scripts/uninstall.sh
Labels: bug, skip-changelog

#834 Add telemetry to new docs
  docs/docusaurus.config.js
  docs/static/js/posthog.js
Labels: skip-changelog

#829 Add onelogin to authentication docs
  docs/docs/authenticate/README.md
  docs/docs/authenticate/azuread.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/local-auth.md
  docs/docs/authenticate/okta.md
  docs/docs/authenticate/onelogin.md
  docs/docusaurus.config.js
Labels: docs

#658 Better document telemetry
  docs/docs/reference/telemetry.md
Labels: docs

#795 Build/729/different reverse proxy
  .env.sample
  CONTRIBUTING.md
  apps/fz_common/lib/fz_net.ex
  apps/fz_http/lib/fz_http_web/channels/notification_channel.ex
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/header_helpers.ex
  apps/fz_http/lib/fz_http_web/proxy_headers.ex
  apps/fz_http/mix.exs
  config/config.exs
  config/dev.exs
  config/runtime.exs
  docs/docs/deploy/reverse-proxies/README.md
  docs/docs/deploy/reverse-proxies/apache.md
  docs/docs/deploy/reverse-proxies/haproxy.md
  docs/docs/deploy/reverse-proxies/traefik.md
  docs/docs/reference/configuration-file.md
  dummy
  mix.lock
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/acme.rb
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/recipes/ssl.rb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Labels: enhancement, docs

#849 Rescue capture errors in Ruby
  omnibus/cookbooks/firezone/files/default/ctl-commands/create_admin.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/force_renewal.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/stop_renewal.rb
Labels: bug

#850 Update navbar beta link
  docs/docusaurus.config.js
Labels: docs

#854 Fix fz_vpn server test
  apps/fz_vpn/test/fz_vpn/interface_test.exs
Labels: skip-changelog

#856 Add release 0.5.0 announcement
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
Labels: chore

#857 Fix customization typo
  apps/fz_http/lib/fz_http_web/live/sidebar_component.ex
Labels: bug

#859 Fix minor mistakes
  docs/docs/deploy/reverse-proxies/README.md
Labels: bug

#861 Add uid
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
Labels: chore

#864 detect force_ssl config and error out
  omnibus/package-scripts/firezone/preinst
Labels: bug

#865 Fix new docs links
  README.md
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
Labels: bug

#873 Restore the manual install steps to install server docs.
  docs/docs/deploy/install-server.md
Labels: docs

#870 Don't fail fast for publishing to Cloudsmith
  .github/workflows/publish.yml
Labels: bug

#875 Fix config ui out of sync
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
Labels: bug

#851 Reduce cast coverage
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/password_helpers.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_form_component.ex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/support/fixtures/users_fixtures.ex
  apps/fz_http/test/support/test_helpers.ex
  docker-compose.yml
Labels: security

#877 Go easy on the x-forwarded-for header
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
Labels: bug
