Repository firezone/firezone, pull requests merged in 2022-05, with the labels that each got.

#581 Add release drafter
  .github/release-drafter.yml
  .github/workflows/draft-release.yml
Labels: chore

#576 Implemet Outbound emails
  apps/fz_http/lib/fz_http/mailer.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http/mailer_test.exs
  apps/fz_http/test/fz_http/mailer_test/sample_email/test_heex.html.heex
  apps/fz_http/test/fz_http/mailer_test/sample_email/test_multipart.html.eex
  apps/fz_http/test/fz_http/mailer_test/sample_email/test_multipart.text.eex
  config/dev.exs
  config/prod.exs
  config/runtime.exs
  config/test.exs
  docs/docs/reference/configuration-file.md
  mix.lock
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Labels: enhancement

#584 Password reset
  apps/fz_http/lib/fz_http/mailer/auth_email.ex
  apps/fz_http/lib/fz_http/mailer/noop_adapter.ex
  apps/fz_http/lib/fz_http/mailer/templates/auth_email/magic_link.html.heex
  apps/fz_http/lib/fz_http/mailer/templates/auth_email/magic_link.text.eex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index_live.ex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/auth/request.html.heex
  apps/fz_http/lib/fz_http_web/templates/auth/reset_password.html.heex
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
  apps/fz_http/test/support/test_helpers.ex
  config/config.exs
Labels: enhancement

#596 Fix mobile modal
  apps/fz_http/assets/local_modules/admin-one-bulma-dashboard/src/scss/_modal.scss
Labels: bug

#597 Replace moment with Intl.DateTimeFormat
  apps/fz_http/assets/js/util.js
  apps/fz_http/assets/package-lock.json
  apps/fz_http/assets/package.json
Labels: enhancement

#604 Add phoenix listen address
  config/runtime.exs
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Labels: enhancement

#602 Migrate allowed ips on devices to text
  apps/fz_http/priv/repo/migrations/20220516063916_change_allowed_ips_to_text.exs
Labels: enhancement

#603 Dev on https
  .devcontainer/Caddyfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Labels: chore

#598 Show user on admin devices table
  apps/fz_http/lib/fz_http_web/live/device_live/admin/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/index_live.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/devices_table.html.heex
  apps/fz_http/test/fz_http_web/live/device_live/admin/index_test.exs
Labels: enhancement

#618 Change allowed ips to textarea
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_form_component.html.heex
Labels: enhancement

#634 Bump all runtimes; use simpler version function for app version
  .github/workflows/ci.yml
  .tool-versions
  apps/fz_common/mix.exs
  apps/fz_http/assets/package-lock.json
  apps/fz_http/mix.exs
  apps/fz_vpn/mix.exs
  apps/fz_wall/mix.exs
  docs/Gemfile.lock
  mix.exs
  omnibus/Gemfile
  omnibus/Gemfile.lock
  omnibus/config/software/erlang.rb
  omnibus/config/software/nodejs.rb
  omnibus/config/software/ruby.rb
  scripts/semver.sh
  scripts/version.exs
Labels: chore

#614 Docs - update add and edit device instructions
  docs/docs/user-guides/add-devices.md
  docs/docs/user-guides/add-users.md
  docs/docs/user-guides/reverse-tunnel.md
Labels: docs

#646 Reduce cookie age to 4 hours
  apps/fz_http/lib/fz_http_web/session.ex
Labels: enhancement

#605 Sync users with OIDC provider
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/oidc.ex
  apps/fz_http/lib/fz_http/oidc/connection.ex
  apps/fz_http/lib/fz_http/oidc/refresh_manager.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_connection_component.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/oidc_connections_table.html.heex
  apps/fz_http/lib/fz_http_web/views/root_view.ex
  apps/fz_http/priv/repo/migrations/20220519034545_create_oidc_connections.exs
  apps/fz_http/priv/repo/migrations/20220520072323_add_disabled_at_to_user.exs
  apps/fz_http/test/fz_http/oidc/refresher_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/vpn_connection_component_test.exs
  apps/fz_http/test/support/mock_openid_connect.ex
  apps/fz_http/test/support/test_helpers.ex
Labels: enhancement

#648 Truncate device name to 15 characters
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/test/fz_http/devices_test.exs
  docs/docs/user-guides/add-users.md
Labels: enhancement

#652 Bump deps
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  mix.lock
Labels: skip-changelog
