Repository firezone/firezone, pull requests merged in 2022-11, with the labels that each got.

#1084 check for `docker compose` before `docker-compose`
  scripts/install.sh
Labels: bug

#1078 Add a building from source doc for Firezone
  docs/docs/deploy/advanced/build-from-source.mdx
  docs/docs/deploy/advanced/reverse-proxy.mdx
Labels: docs

#1088 remove rest api reference in docs for now
  docs/docusaurus.config.js
Labels: bug, docs

#1085 Add restart note
  docs/docs/deploy/docker/README.mdx
Labels: docs

#1093 Use tls opts
  docker-compose.prod.yml
  scripts/install.sh
Labels: bug

#1094 tlsOpts
  scripts/install.sh
Labels: bug

#1095 double-quote
  scripts/install.sh
Labels: bug

#1102 Use IP for firezone
  docker-compose.prod.yml
Labels: bug

#1104 Add AsyncAPI WIP
  asyncapi.yml
Labels: chore

#1107 Backlink config reference to configure guide
  docs/docs/deploy/configure.mdx
  docs/docs/reference/configuration-file.mdx
  docs/docs/reference/env-vars.mdx
Labels: docs

#1108 Add onelogin and okta SAML docs
  docs/docs/authenticate/oidc/onelogin.mdx
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Labels: docs

#1110 Support `end_session_uri`, custom `redirect_uri` and PKCE
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/conf/oidc_config.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/validators/common.ex
  apps/fz_http/lib/fz_http/validators/openid_connect.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/oauth/pkce.ex
  apps/fz_http/lib/fz_http_web/oidc/helpers.ex
  apps/fz_http/lib/fz_http_web/oidc/state.ex
  apps/fz_http/test/fz_http/release_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/support/conn_case.ex
  apps/fz_http/test/support/fixtures/oidc_config_fixtures.ex
  apps/fz_http/test/support/mocks/http_client.ex
  apps/fz_http/test/support/mocks/openid_connect.ex
  config/dev.exs
  config/test.exs
  docker-compose.yml
  docs/docs/authenticate/oidc/README.mdx
  docs/docs/authenticate/oidc/okta.mdx
  mix.lock
Labels: enhancement

#1113 Update esaml to properly parse signed assertions
  apps/fz_http/lib/fz_http/conf/saml_config.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  config/config.exs
  config/runtime.exs
  docs/docs/administer/regen-keys.mdx
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
  docs/docs/deploy/docker/README.mdx
  docs/docs/reference/env-vars.mdx
  docs/docs/reference/reverse-proxy-templates/traefik.mdx
  mix.lock
Labels: bug, docs

#1114 Allow pgcrypto extension to preexist
  apps/fz_http/priv/repo/migrations/20220124162404_add_uuids.exs
Labels: bug

#1116 Conventional Commits
  .github/pr-labeler.yml
  .github/workflows/pr_labeler.yml
  .pre-commit-config.yaml
Labels: chore

#1125 Fix intermittent assert_{patched,redirected} failures
  .github/workflows/static_analysis.yml
  .github/workflows/test.yml
  apps/fz_http/lib/fz_http_web/templates/user/show.html.heex
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/mfa_live/auth_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/unprivileged/account_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
Labels: test

#1124 Add missing LOCAL_AUTH_ENABLED config to docs
  docs/docs/reference/env-vars.mdx
Labels: docs

#1127 Add google SAML doc and update existing guides
  docs/docs/authenticate/README.mdx
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/google.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Labels: docs

#1128 Ensure phoenix 1.7 is in subproject
  apps/fz_http/mix.exs
  mix.lock
Labels: bug

#1129 Bump Elixir to 1.14.2, OTP to 25.1.2
  .tool-versions
  Dockerfile.dev
  Dockerfile.prod
Labels: build

#1130 Prevent navigating to `/user_devices/new` when management is disabled
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index_live.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
Labels: bug

#1131 Remove nodejs from test workflow
  .github/workflows/test.yml
Labels: ci

#1138 Change restart policy to `unless-stopped`
  .github/workflows/static_analysis.yml
  docker-compose.desktop.yml
  docker-compose.prod.yml
Labels: bug

#1142 Add codespell
  .codespellrc
  .pre-commit-config.yaml
  requirements.txt
Labels: ci

#1140 Disallow netmasks in devices' ip to prevent overlaps in firewall
  .github/workflows/static_analysis.yml
  .pre-commit-config.yaml
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/validators/common.ex
  apps/fz_http/test/fz_http/devices_test.exs
  mix.lock
Labels: bug

#1143 Run checks on master too
  .github/workflows/static_analysis.yml
  .github/workflows/test.yml
Labels: ci
