Repository firezone/firezone, pull requests merged in 2022-06, with the labels that each got.

#665 Use modal footer for submit button
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/modal_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/submit_button.html.heex
Labels: enhancement

#667 Use normalized CIDR for nftables
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/test/fz_http/rules_test.exs
Labels: fix

#682 Clarify file and directory locations
  docs/docs/reference/file-and-directory-locations.md
Labels: bug, docs

#693 Migrate refresh token to text
  apps/fz_http/priv/repo/migrations/20220609232854_change_refresh_token_to_text.exs
Labels: fix

#694 Prevent last admin from being deleted
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/test/fz_http_web/controllers/user_controller_test.exs
Labels: enhancement

#695 Hide footer content
  apps/fz_http/assets/js/wg_conf.js
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/modal_component.ex
Labels: bug

#615 Docs - OIDC instructions
  docs/docs/administer/upgrade.md
  docs/docs/authenticate/azure-ad.md
  docs/docs/authenticate/google-sso.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/index.md
  docs/docs/authenticate/okta-sso.md
  docs/docs/authenticate/okta.md
Labels: docs

#705 Add manual refresh
  apps/fz_http/lib/fz_http_web/live/oidc_live/connections_table_component.ex
  apps/fz_http/lib/fz_http_web/live/oidc_live/connections_table_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/oidc_connections_table.html.heex
Labels: enhancement

#709 docs- removed sentence and updated heading
  docs/docs/deploy/prerequisites.md
Labels: docs

#712 Code Highlight Changes
  docs/_sass/color_schemes/fz.scss
Labels: docs

#715 Add source ip option for fz_wall
  apps/fz_wall/lib/fz_wall/cli/live.ex
Labels: enhancement

#716 Esbuild
  .devcontainer/docker-compose.yml
  apps/fz_http/.gitignore
  apps/fz_http/assets/config.dev.js
  apps/fz_http/assets/config.prod.js
  apps/fz_http/assets/esbuild.js
  apps/fz_http/assets/js/admin.js
  apps/fz_http/assets/js/root.js
  apps/fz_http/assets/js/unprivileged.js
  apps/fz_http/assets/package-lock.json
  apps/fz_http/assets/package.json
  apps/fz_http/assets/webpack.config.js
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/unprivileged.html.heex
  apps/fz_http/mix.exs
  apps/fz_http/priv/static/browserconfig.xml
  apps/fz_http/priv/static/images/android-chrome-192x192.png
  apps/fz_http/priv/static/images/android-chrome-512x512.png
  apps/fz_http/priv/static/images/apple-touch-icon.png
  apps/fz_http/priv/static/images/favicon-16x16.png
  apps/fz_http/priv/static/images/favicon-32x32.png
  apps/fz_http/priv/static/images/favicon.ico
  apps/fz_http/priv/static/images/logo-text.svg
  apps/fz_http/priv/static/images/logo.svg
  apps/fz_http/priv/static/images/mstile-150x150.png
  apps/fz_http/priv/static/robots.txt
  apps/fz_http/priv/static/site.webmanifest
  config/dev.exs
Labels: chore

#714 Add display and copy MFA key
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_steps_component.ex
Labels: enhancement

#725 Improve OIDC connection UX
  apps/fz_http/lib/fz_http/oidc.ex
  apps/fz_http/lib/fz_http_web/live/oidc_live/connections_table_component.ex
  apps/fz_http/lib/fz_http_web/live/oidc_live/connections_table_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_connection_component.ex
  apps/fz_http/test/fz_http_web/live/user_live/vpn_connection_component_test.exs
Labels: enhancement

#718 Refactor fz_vpn with Wireguardex
  .ci/functional_test.sh
  .env.sample
  apps/fz_vpn/lib/fz_vpn/application.ex
  apps/fz_vpn/lib/fz_vpn/cli.ex
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/config.ex
  apps/fz_vpn/lib/fz_vpn/interface.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/live.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
  apps/fz_vpn/lib/fz_vpn/stats_push_service.ex
  apps/fz_vpn/mix.exs
  apps/fz_vpn/test/fz_vpn/cli/sandbox_test.exs
  apps/fz_vpn/test/fz_vpn/config_test.exs
  apps/fz_vpn/test/fz_vpn/interface_test.exs
  apps/fz_vpn/test/fz_vpn/server_test.exs
  apps/fz_vpn/test/fz_vpn/stats_push_service_test.exs
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/runtime.exs
  mix.lock
  omnibus/cookbooks/firezone/recipes/default.rb
  omnibus/cookbooks/firezone/recipes/setcap.rb
Labels: enhancement

#728 Allow option to disable auto-creating OIDC users
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
  config/config.exs
  config/runtime.exs
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Labels: enhancement

#735 Dont error for failed capture calls
  scripts/install.sh
Labels: bug

#738 Add debugging statements to OpenID Connect failures
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Labels: enhancement

#740 Restart phoenix on setcap; only pick the latest erts path
  omnibus/cookbooks/firezone/recipes/app.rb
Labels: fix

#742 set default MTU to 1280
  apps/fz_http/test/fz_http/sites_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
  config/config.exs
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
Labels: chore

#741 Add user_count, device_count, users_with_mfa_count
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/mfa.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/mfa_test.exs
Labels: chore

#722 add user id to rules
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/priv/repo/migrations/20220614192937_add_user_id_to_rules.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/lib/fz_wall/server.ex
Labels: enhancement

#747 Display flash error when creating device results in interface error
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/lib/fz_http_web/templates/shared/show_device.html.heex
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/show_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/show_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
  apps/fz_vpn/test/fz_vpn/server_test.exs
  config/test.exs
  omnibus/cookbooks/firezone/files/default/ctl-commands/reset_network.rb
  omnibus/cookbooks/firezone/recipes/network.rb
Labels: enhancement

#748 Remove wireguard-tools from firezone.
  .ci/functional_test.sh
  .env.sample
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_vpn/README.md
  apps/fz_vpn/lib/fz_vpn/interface.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/live.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/keypair.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
  apps/fz_vpn/mix.exs
  apps/fz_vpn/test/fz_vpn/interface_test.exs
  config/config.exs
  config/runtime.exs
  mix.lock
  omnibus/config/projects/firezone.rb
  omnibus/config/software/wireguard-tools.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/config.rb
  omnibus/cookbooks/firezone/recipes/setcap.rb
  omnibus/cookbooks/firezone/templates/sv-wireguard-run.erb
  omnibus/files/firezone-scripts/wireguard
  priv/.wg_dummy_private_key
Labels: chore

#755 Bump chef client in firezone cookbooks Gemfile to 17.10.0
  omnibus/cookbooks/firezone/Gemfile
Labels: chore

#758 Add Firewall section to the reference docs area with firewall template
  docs/docs/reference/firewall-templates/index.md
  docs/docs/reference/firewall-templates/nftables.md
Labels: docs

#756 Linux clients - nmcli instructions
  docs/docs/user-guides/client-instructions.md
Labels: docs

#764 Update rules UI to include optional user scope
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  apps/fz_http/test/fz_http_web/live/rule_live/index_test.exs
  apps/fz_http/test/support/test_helpers.ex
  docs/docs/user-guides/firewall-rules.md
Labels: enhancement

#766 Replaces nftables rule management to use sets
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/server.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/sets.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/lib/fz_wall/server.ex
Labels: enhancement

#770 Add redirect routes for oidc signin links by provider
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/views/root_view.ex
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
  docs/docs/authenticate/index.md
Labels: enhancement
