Repository firezone/firezone, pull requests merged in 2022-08, with the labels that each got.

#835 Trigger events on device/rule/user insert and delete instead of from UI actions.
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device_setting.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/repo/notifier.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/priv/repo/migrations/20220721164925_add_device_rule_user_notify_triggers.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/repo/notifier_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/show_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/show_test.exs
  config/config.exs
  config/test.exs
Labels: chore

#882 Bump docusaurus
  docs/package-lock.json
  docs/package.json
Labels: dependencies

#874 Add initial rough version of port based rules
  apps/fz_http/lib/fz_http/int4range.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/priv/repo/migrations/20220726205646_add_rule_port_range.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/repo/notifier_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/sets.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/test/fz_wall/cli/sandbox_test.exs
Labels: enhancement

#867 Add notifications live view.
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/notifications.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/badge.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/badge.html.heex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index_live.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/test/fz_http/notifications_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/show_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/show_test.exs
  apps/fz_http/test/fz_http_web/live/notifications_live/badge_test.exs
  apps/fz_http/test/fz_http_web/live/notifications_live/index_test.exs
  apps/fz_http/test/support/fixtures/notifications_fixtures.ex
  apps/fz_http/test/support/test_helpers.ex
Labels: enhancement, ui

#886 Bumps and dev tweaks
  .gitignore
  .tool-versions
  Dockerfile
  omnibus/config/software/erlang.rb
Labels: chore

#892 Move page subheaders under titles; minor polish to notifications
  apps/fz_http/lib/fz_http_web/live/connectivity_check_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/connectivity_check_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index_live.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/auth_live.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/badge.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/badge.html.heex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/rule_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/site.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_live.ex
  apps/fz_http/lib/fz_http_web/live/user_live/index_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/heading.html.heex
  docker-compose.yml
Labels: ui

#895 Fix wording
  docs/docs/deploy/prerequisites.md
Labels: docs

#901 Rules apply only to Firezone's wireguard interface
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
Labels: enhancement

#872 Clarify when UI config is overriding ENV config
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
Labels: ui

#907 Install script UX: ask to load wireguard mod & install missing deps for Debian repo
  scripts/install.sh
Labels: bug

#914 Update image name and remove build
  docker-compose.prod.yml
Labels: chore

#909 Allow disabling the configuration of devices by unprivileged users
  Dockerfile.prod
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/priv/repo/migrations/20220810002432_add_unprivileged_device_configuration.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  config/config.exs
  config/runtime.exs
  docker-compose.prod.yml
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Labels: enhancement

#915 Use Dockerfile.prod
  .github/workflows/publish-image.yml
Labels: chore

#916 Fix endpoint placeholder & security overflow
  apps/fz_http/assets/css/main.scss
  apps/fz_http/lib/fz_http/sites.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/site.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_live.ex
Labels: bug

#917 Fix rules form layout
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
Labels: bug

#921 Don't listen on port 80 if acme is disabled
  docs/docs/administer/security-considerations.md
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/templates/redirect.conf.erb
Labels: bug

#922 `create-or-reset-admin` should reset admin role to `'admin'`
  apps/fz_http/lib/fz_http/release.ex
Labels: bug

#927 (fixed) Don't listen on port 80 if ACME is disabled
  docs/docs/administer/security-considerations.md
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/templates/redirect.conf.erb
Labels: bug

#923 Cache node deps; fix minor docs typos
  .github/workflows/test.yml
  .markdownlint.json
  .markdownlintignore
  .pre-commit-config.yaml
  docs/docs/deploy/reverse-proxies/README.md
  docs/docs/deploy/reverse-proxies/apache.md
  docs/docs/deploy/reverse-proxies/haproxy.md
  docs/docs/deploy/reverse-proxies/traefik.md
Labels: chore, docs

#928 Use dummy ACME cert initially; Reload nginx immediately before ACME issuance
  docs/docs/administer/security-considerations.md
  omnibus/cookbooks/firezone/recipes/acme.rb
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/recipes/phoenix.rb
  omnibus/cookbooks/firezone/templates/redirect.conf.erb
Labels: bug

#935 Add ip exhaustion error to base to show when fields are hidden
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  config/config.exs
  mix.lock
  tmp/.gitkeep
Labels: bug

#936 Prevent autocompleting passwords in FF
  apps/fz_http/lib/fz_http_web/live/setting_live/account_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/password_field.html.heex
Labels: bug

#941 Trim whitespace on string fields
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/mfa/method.ex
  apps/fz_http/lib/fz_http/shared_validators.ex
  apps/fz_http/lib/fz_http/sites.ex
  apps/fz_http/lib/fz_http/sites/site.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/mfa_test.exs
  apps/fz_http/test/fz_http/sites_test.exs
  apps/fz_http/test/fz_http/users_test.exs
Labels: bug

#942 Redirect http -> https when acme is enabled
  omnibus/cookbooks/firezone/templates/redirect.conf.erb
Labels: bug
