Repository firezone/firezone, pull requests merged in 2022-12, with the labels that each got.

#1160 Use complete Firezone URL for post_logout_uri
  .codespellrc
  apps/fz_http/lib/fz_http_web/authentication.ex
Labels: bug

#1166 Update Docker migration script to match install improvements
  scripts/docker_migrate.sh
Labels: bug

#1168 docs: fix setup instruction
  docs/docs/authenticate/saml/google.mdx
Labels: docs

#1170 Wrap magic link with url()
  apps/fz_http/lib/fz_http/mailer.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/mailer/auth_email.ex
  apps/fz_http/lib/fz_http_web/mailer/noop_adapter.ex
  apps/fz_http/lib/fz_http_web/mailer/templates/auth_email/magic_link.html.heex
  apps/fz_http/lib/fz_http_web/mailer/templates/auth_email/magic_link.text.eex
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/mailer_test.exs
  apps/fz_http/test/fz_http_web/mailer_test/auth_email_test.exs
  apps/fz_http/test/fz_http_web/mailer_test/sample_email/test_heex.html.heex
  apps/fz_http/test/fz_http_web/mailer_test/sample_email/test_multipart.html.eex
  apps/fz_http/test/fz_http_web/mailer_test/sample_email/test_multipart.text.eex
  apps/fz_http/test/support/mailer_case.ex
  config/config.exs
  config/dev.exs
  config/runtime.exs
  config/test.exs
Labels: bug

#1181 Use application_version() to link back to repo
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/lib/fz_http_web/views/layout_view.ex
  config/config.exs
Labels: bug

#1148 REST API: Controllers and Views
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/auth/html/authentication.ex
  apps/fz_http/lib/fz_http_web/auth/html/error_handler.ex
  apps/fz_http/lib/fz_http_web/auth/html/pipeline.ex
  apps/fz_http/lib/fz_http_web/auth/json/authentication.ex
  apps/fz_http/lib/fz_http_web/auth/json/error_handler.ex
  apps/fz_http/lib/fz_http_web/auth/json/pipeline.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/configuration_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/device_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/fallback_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/rule_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
  apps/fz_http/lib/fz_http_web/plug/authorization.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/lib/fz_http_web/views/json/changeset_view.ex
  apps/fz_http/lib/fz_http_web/views/json/configuration_view.ex
  apps/fz_http/lib/fz_http_web/views/json/device_view.ex
  apps/fz_http/lib/fz_http_web/views/json/encoders/postgrex_inet.ex
  apps/fz_http/lib/fz_http_web/views/json/rule_view.ex
  apps/fz_http/lib/fz_http_web/views/json/user_view.ex
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http_web/authentication_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/fz_http_web/mailer_test.exs
  apps/fz_http/test/support/api_case.ex
  apps/fz_http/test/support/conn_case.ex
  config/config.exs
  config/runtime.exs
  config/test.exs
Labels: feature

#1186 Add gateways migration
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
Labels: chore

#1191 Add gateway and allow rule schemas
  apps/fz_http/lib/fz_http/allow_rules.ex
  apps/fz_http/lib/fz_http/allow_rules/allow_rule.ex
  apps/fz_http/lib/fz_http/gateways.ex
  apps/fz_http/lib/fz_http/gateways/gateway.ex
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
  apps/fz_http/priv/repo/migrations/20221208070140_create_allow_rules.exs
  apps/fz_http/test/fz_http/allow_rules_test.exs
  apps/fz_http/test/fz_http/gateways_test.exs
  apps/fz_http/test/support/fixtures/allow_rules_fixtures.ex
  apps/fz_http/test/support/fixtures/gateways_fixtures.ex
Labels: chore

#1187 Docs - Improve titles and descriptions
  docs/docs/administer/migrate.mdx
  docs/docs/administer/regen-keys.mdx
  docs/docs/authenticate/README.mdx
  docs/docs/authenticate/local-auth.mdx
  docs/docs/authenticate/multi-factor.mdx
  docs/docs/authenticate/oidc/README.mdx
  docs/docs/authenticate/oidc/auth0.mdx
  docs/docs/authenticate/oidc/azuread.mdx
  docs/docs/authenticate/oidc/google.mdx
  docs/docs/authenticate/oidc/keycloak.mdx
  docs/docs/authenticate/oidc/okta.mdx
  docs/docs/authenticate/oidc/onelogin.mdx
  docs/docs/authenticate/oidc/zitadel.mdx
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/google.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
  docs/docs/deploy/README.mdx
  docs/docs/deploy/configure.mdx
  docs/docs/deploy/docker/README.mdx
  docs/docs/deploy/omnibus/README.mdx
  docs/docs/deploy/security-considerations.mdx
  docs/docs/reference/configuration-file.mdx
  docs/docs/reference/env-vars.mdx
  docs/docs/reference/firewall-templates/README.mdx
  docs/docs/user-guides/add-devices.mdx
  docs/docs/user-guides/add-users.mdx
  docs/docs/user-guides/client-instructions.mdx
  docs/docs/user-guides/egress-rules.mdx
  docs/docs/user-guides/use-cases/reverse-tunnel.mdx
Labels: docs

#1198 Move IdP services to separate docker compose file
  docker-compose.idp.yml
  docker-compose.yml
Labels: chore

#1185 Docs - Add draft whitelist sso doc
  docs/docs/user-guides/use-cases/nat-gateway/README.mdx
  docs/docs/user-guides/use-cases/nat-gateway/_whitelist-sso.mdx
Labels: docs

#1206 Allow IPv6 remote_ips in StatsUpdater
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/devices/stats_updater.ex
Labels: bug

#1194 General Docs Improvements
  docs/docs/administer/debug-logs.mdx
  docs/docs/administer/migrate.mdx
  docs/docs/administer/regen-keys.mdx
  docs/docs/administer/troubleshoot.mdx
  docs/docs/authenticate/README.mdx
  docs/docs/authenticate/local-auth.mdx
  docs/docs/authenticate/multi-factor.mdx
  docs/docs/authenticate/oidc/README.mdx
  docs/docs/authenticate/oidc/auth0.mdx
  docs/docs/authenticate/oidc/azuread.mdx
  docs/docs/authenticate/oidc/google.mdx
  docs/docs/authenticate/oidc/keycloak.mdx
  docs/docs/authenticate/oidc/okta.mdx
  docs/docs/authenticate/oidc/onelogin.mdx
  docs/docs/authenticate/oidc/zitadel.mdx
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/google.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
  docs/docs/deploy/README.mdx
  docs/docs/deploy/configure.mdx
  docs/docs/deploy/docker/README.mdx
  docs/docs/deploy/omnibus/README.mdx
  docs/docs/deploy/security-considerations.mdx
  docs/docs/reference/_audit-logs.mdx
  docs/docs/reference/configuration-file.mdx
  docs/docs/reference/env-vars.mdx
  docs/docs/reference/firewall-templates/README.mdx
  docs/docs/user-guides/add-devices.mdx
  docs/docs/user-guides/add-users.mdx
  docs/docs/user-guides/client-instructions.mdx
  docs/docs/user-guides/egress-rules.mdx
  docs/docs/user-guides/use-cases/nat-gateway/README.mdx
  docs/docs/user-guides/use-cases/nat-gateway/_whitelist-sso.mdx
  docs/docs/user-guides/use-cases/reverse-tunnel.mdx
  docs/docs/user-guides/use-cases/split-tunnel.mdx
Labels: docs

#1208 Fix whitespace
  docs/docs/user-guides/use-cases/nat-gateway/_whitelist-sso.mdx
Labels: bug

#1207 Use site table fields, not ENV vars for optional WireGuard config
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/sites.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_form_component.html.heex
  apps/fz_http/priv/repo/migrations/20221219020354_move_wireguard_optional_fields_to_sites.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
  config/config.exs
  config/dev.exs
  config/runtime.exs
  docs/docs/reference/env-vars.mdx
Labels: bug, chore

#1213 Update Docker IPv6 CIDR to use 2001:db8:1::/64
  docs/docs/deploy/docker/README.mdx
Labels: docs

#1212 Document WIREGUARD_MTU is for server interface only
  apps/fz_http/priv/repo/migrations/20221219020354_move_wireguard_optional_fields_to_sites.exs
  docs/docs/reference/env-vars.mdx
Labels: docs

#1220 Enrichment
  README.md
  docs/docs/deploy/docker/README.mdx
  docs/src/components/InstallBlock/index.js
  docs/src/theme/MDXComponents.js
  rel/overlays/bin/server
  scripts/install.sh
Labels: chore

#1222 Support more dense QR codes with error correction level L
  apps/fz_http/assets/js/qrcode.js
  apps/fz_http/lib/fz_http/validators/common.ex
  apps/fz_http/test/fz_http/devices_test.exs
  mix.lock
Labels: bug

#1225 Fix missing PLT cache key
  .github/workflows/static_analysis.yml
Labels: ci

#1227 Don't cache Elixir build in static_analysis workflow
  .github/workflows/static_analysis.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Labels: ci

#1232 fix: endpoint migration when `EXTERNAL_URL` is not present
  apps/fz_http/priv/repo/migrations/20221219020354_move_wireguard_optional_fields_to_sites.exs
Labels: bug

#1235 Change foreign key constraint to cascading delete
  .codespellrc
  apps/fz_http/priv/repo/migrations/20221224125052_users_fk_delete_all_constraint.exs
Labels: bug

#1219 Add SupportOptions component and utm_source for links
  .github/workflows/publish_docs.yml
  .github/workflows/static_analysis.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  docs/README.md
  docs/docs/README.mdx
  docs/docs/administer/debug-logs.mdx
  docs/docs/administer/migrate.mdx
  docs/docs/administer/troubleshoot.mdx
  docs/docs/authenticate/README.mdx
  docs/docs/authenticate/oidc/README.mdx
  docs/docs/authenticate/saml/README.mdx
  docs/docs/deploy/advanced/external-database.mdx
  docs/docs/deploy/advanced/reverse-proxy.mdx
  docs/docs/deploy/docker/README.mdx
  docs/docs/deploy/omnibus/README.mdx
  docs/docs/reference/_audit-logs.mdx
  docs/docs/reference/security-controls.mdx
  docs/docs/reference/telemetry.mdx
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/src/partials/_support_options.mdx
  docs/yarn.lock
  scripts/omnibus-uninstall.sh
Labels: chore

#1239 Fix InstallBlock links using BrowserOnly
  docs/src/components/InstallBlock/index.js
Labels: bug

#1238 Fix sites.endpoint default when EXTERNAL_URL is missing
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/priv/repo/migrations/20221219020354_move_wireguard_optional_fields_to_sites.exs
  apps/fz_http/priv/repo/migrations/20221224210654_fix_sites_nullable_fields.exs
  docs/docs/reference/env-vars.mdx
Labels: bug

#1247 Conditionally append port to endpoint
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/sites/site.ex
  apps/fz_http/lib/fz_http/validators/common.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
Labels: bug

#1253 Remove broken link in docs
  docs/docs/reference/configuration-file.mdx
Labels: bug

#1252 Update recommendations for local authentication
  docs/docs/administer/troubleshoot.mdx
  docs/docs/authenticate/README.mdx
  docs/docs/authenticate/local-auth.mdx
  docs/docs/deploy/security-considerations.mdx
Labels: docs

#1258 Don't assume PostHog is available
  docs/src/components/InstallBlock/index.js
Labels: docs

#1256 [Supercedes #1255] Replace npm with yarn
  .github/workflows/omnibus_build.yml
  Dockerfile.dev
  Dockerfile.prod
  apps/fz_http/assets/package-lock.json
  apps/fz_http/assets/yarn.lock
  omnibus/config/software/firezone.rb
Labels: build
