Repository firezone/firezone, pull requests merged in 2022-10, with the labels that each got.

#993 Add SSO docs for Auth0
  docs/docs/authenticate/oidc/README.mdx
  docs/docs/authenticate/oidc/auth0.mdx
Labels: docs

#994 Add OpenAPI generator
  .github/workflows/publish_docs.yml
  .github/workflows/test.yml
  apps/fz_http/assets/package-lock.json
  docs/.gitignore
  docs/docusaurus.config.js
  docs/openapi.yaml
  docs/package-lock.json
  docs/package.json
  docs/yarn.lock
Labels: docs

#1001 Fix error due to updated LiveView
  apps/fz_http/lib/fz_http_web/live/logo_component.ex
Labels: chore

#1003 Move persistent term cache to cachex
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/conf/cache.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/conf/logo.ex
  apps/fz_http/lib/fz_http/configurations.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/live/logo_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_live.ex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/lib/fz_http_web/views/device_view.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/support/test_helpers.ex
  docker-compose.client.yml
  docker-compose.prod.yml
  docker-compose.yml
  mix.lock
Labels: chore

#1023 Add keycloak dev
  apps/fz_http/lib/fz_http/configurations.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
  docker-compose.yml
  priv/keycloak-realm.json
Labels: docs

#1024 Add Keycloak doc and clean up others for OIDC providers
  docs/docs/authenticate/oidc/auth0.mdx
  docs/docs/authenticate/oidc/azuread.mdx
  docs/docs/authenticate/oidc/google.mdx
  docs/docs/authenticate/oidc/keycloak.mdx
  docs/docs/authenticate/oidc/okta.mdx
  docs/docs/authenticate/oidc/onelogin.mdx
  docs/docs/authenticate/oidc/zitadel.mdx
Labels: docs

#1027 allow dns hosts; fix notifications concurrency issues
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/notifications.ex
  apps/fz_http/lib/fz_http/sites/site.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/badge.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index_live.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/notifications_test.exs
  apps/fz_http/test/fz_http/sites_test.exs
  apps/fz_http/test/fz_http_web/live/notifications_live/badge_test.exs
  apps/fz_http/test/fz_http_web/live/notifications_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
Labels: enhancement

#1031 Sleep in docker install script
  scripts/docker_install.sh
Labels: bug

#1032 Fix build artifact download for publish
  .github/workflows/omnibus_publish.yml
Labels: bug

#1034 REmove old versions of docs
  .github/workflows/publish_docs.yml
  docs/src/css/custom.css
Labels: bug

#1037 fix manual docker steps
  docs/docs/deploy/docker/README.mdx
Labels: docs

#1038 Use defaults in server script
  rel/overlays/bin/server
Labels: bug

#1040 docker_install -> install
  docs/docs/deploy/docker/README.mdx
  scripts/docker_install.sh
  scripts/install.sh
Labels: bug

#1042 Always create interface inside container
  rel/overlays/bin/server
Labels: bug

#1045 Fix configure bug for admins
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/views/device_view.ex
  docker-compose.prod.yml
  scripts/install.sh
Labels: bug

#1050 Polish install, migration script, docs
  docker-compose.prod.yml
  docs/docs/administer/uninstall.mdx
  docs/docs/deploy/README.mdx
  docs/docs/deploy/docker/README.mdx
  omnibus/cookbooks/firezone/templates/sv-phoenix-finish.erb
  scripts/docker_migrate.sh
  scripts/install.sh
Labels: bug, docs

#1060 docs: rename business to enterprise
  README.md
  docs/docs/README.mdx
  docs/docs/deploy/advanced/external-database.mdx
  docs/docs/reference/telemetry.mdx
Labels: docs

#1066 Add details on uninstalling docker deployment
  docs/docs/administer/uninstall.mdx
Labels: docs

#1065 Fix CADDY_OPTS
  scripts/docker_migrate.sh
  scripts/install.sh
Labels: bug

#1069 Use :live, not live.html
  apps/fz_http/lib/fz_http_web.ex
Labels: chore

#1070 don't swallow errors
  scripts/docker_migrate.sh
Labels: bug

#1071 Minor docs fixes
  docs/docs/administer/migrate.mdx
  docs/docs/deploy/docker/README.mdx
  docs/docusaurus.config.js
  scripts/docker_migrate.sh
Labels: chore

#1074 Add trailingSlash
  docs/docusaurus.config.js
Labels: bug

#1075 Fix links related to trailingSlash
  docs/docs/administer/migrate.mdx
  docs/docs/administer/upgrade.mdx
  docs/docs/authenticate/local-auth.mdx
  docs/docs/deploy/advanced/external-database.mdx
  docs/docs/deploy/advanced/reverse-proxy.mdx
  docs/docs/deploy/security-considerations.mdx
  docs/docs/user-guides/add-devices.mdx
  docs/docs/user-guides/add-users.mdx
  docs/docs/user-guides/use-cases/nat-gateway.mdx
  docs/docs/user-guides/use-cases/reverse-tunnel.mdx
  docs/docs/user-guides/use-cases/split-tunnel.mdx
Labels: chore

#1076 Use named volume for postgres
  docker-compose.prod.yml
  docs/docs/administer/uninstall.mdx
Labels: bug

#1077 specify caddy-opts
  docker-compose.prod.yml
Labels: chore
