Repository firezone/firezone, pull requests merged in 2023-07, with the labels that each got.

#1721 connlib: Connection mock
  rust/connlib/README.md
  rust/connlib/clients/android/Cargo.toml
  rust/connlib/clients/android/lib/build.gradle.kts
  rust/connlib/clients/apple/Cargo.toml
  rust/connlib/clients/apple/build-rust.sh
  rust/connlib/libs/client/Cargo.toml
  rust/connlib/libs/common/Cargo.toml
  rust/connlib/libs/common/src/session.rs
Labels: feature

#1713 Attempt to enable merge queue
  .github/workflows/codespell.yml
  .github/workflows/elixir.yml
  .github/workflows/rust.yml
  .github/workflows/terraform.yml
Labels: ci

#1722 Feat/connlib full flow
  docker-compose.yml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/Dockerfile.dev
  rust/connlib/libs/client/src/control.rs
  rust/connlib/libs/client/src/messages.rs
  rust/connlib/libs/common/src/control.rs
  rust/connlib/libs/common/src/messages/key.rs
  rust/connlib/libs/common/src/session.rs
  rust/connlib/libs/gateway/src/control.rs
  rust/connlib/libs/gateway/src/messages.rs
  rust/connlib/libs/tunnel/src/lib.rs
  rust/relay/src/main.rs
Labels: feature

#1728 Add brand colors
  website/src/app/blog/layout.tsx
  website/src/app/blog/page.tsx
  website/src/app/contact/layout.tsx
  website/src/app/contact/newsletter/page.tsx
  website/src/app/contact/sales/page.tsx
  website/src/app/docs/layout.tsx
  website/src/app/page.tsx
  website/src/app/team/page.tsx
  website/src/components/Blog/Post/index.tsx
  website/src/components/DeployButton/index.tsx
  website/src/components/DocsSidebar/Collapse.tsx
  website/src/components/DocsSidebar/Item.tsx
  website/src/components/DocsSidebar/SearchForm.tsx
  website/src/components/DocsSidebar/index.tsx
  website/src/components/Footer/index.tsx
  website/src/components/HubspotForm/index.tsx
  website/src/components/Icons/index.tsx
  website/src/components/NewsletterSignup/index.tsx
  website/src/components/RootNavbar/SidebarToggle.tsx
  website/src/components/RootNavbar/index.tsx
  website/src/components/SalesLeadForm/index.tsx
  website/src/pages/404.tsx
  website/src/pages/500.tsx
  website/tailwind.config.js
Labels: website

#1734 Fix ubuntu 20.04 CI
  .github/workflows/rust.yml
Labels: bug

#1729 CI: add a flow that test client to resource ping
  .github/workflows/integration-tests.yml
  .github/workflows/rust.yml
  CONTRIBUTING.md
  docker-compose.yml
  rust/Dockerfile.dev
  rust/connlib/libs/tunnel/src/control_protocol.rs
  rust/connlib/libs/tunnel/src/lib.rs
  rust/connlib/libs/tunnel/src/resource_table.rs
  rust/connlib/libs/tunnel/src/tun_android.rs
  rust/connlib/libs/tunnel/src/tun_darwin.rs
  rust/connlib/libs/tunnel/src/tun_linux.rs
  rust/connlib/libs/tunnel/src/tun_win.rs
  rust/docker-init.sh
Labels: bug

#1731 Fix team page layout
  website/src/app/team/layout.tsx
  website/src/app/team/page.tsx
Labels: website

#1733 Add 1.0 waitlist signup form
  website/package.json
  website/pnpm-lock.yaml
  website/public/images/mobile_mockup.svg
  website/public/images/portal_mockup.svg
  website/src/app/blog/layout.tsx
  website/src/app/blog/page.tsx
  website/src/app/contact/1.0-early-access/page.tsx
  website/src/app/contact/layout.tsx
  website/src/app/contact/newsletter/page.tsx
  website/src/app/page.tsx
  website/src/components/Blog/Post/index.tsx
  website/src/components/Blog/RelatedArticles/index.tsx
  website/src/components/EarlyAccessForm/index.tsx
  website/src/components/HubspotForm/index.tsx
  website/src/components/NewsletterSignup/index.tsx
  website/src/components/Providers/index.jsx
  website/src/components/RootLayout/index.tsx
  website/src/components/SalesLeadForm/index.tsx
Labels: website

#1735 Feat/connlib handle error messages
  docker-compose.yml
  rust/connlib/libs/client/src/control.rs
  rust/connlib/libs/client/src/messages.rs
  rust/connlib/libs/common/src/control.rs
  rust/connlib/libs/common/src/session.rs
  rust/connlib/libs/gateway/src/control.rs
  rust/connlib/libs/tunnel/src/lib.rs
Labels: feature

#1702 portal: Stub out Settings views
  elixir/apps/web/assets/js/app.js
  elixir/apps/web/assets/js/event_listeners.js
  elixir/apps/web/lib/web/components/core_components.ex
  elixir/apps/web/lib/web/controllers/scim_controller.ex
  elixir/apps/web/lib/web/live/settings_live/account.ex
  elixir/apps/web/lib/web/live/settings_live/dns.ex
  elixir/apps/web/lib/web/live/settings_live/identity_providers/index.ex
  elixir/apps/web/lib/web/live/settings_live/identity_providers/new.ex
  elixir/apps/web/lib/web/live/settings_live/identity_providers/new/components.ex
  elixir/apps/web/lib/web/live/settings_live/identity_providers/new/oidc.ex
  elixir/apps/web/lib/web/live/settings_live/identity_providers/new/saml.ex
  elixir/apps/web/lib/web/live/settings_live/identity_providers/show.ex
  elixir/apps/web/lib/web/router.ex
Labels: feature, ui

#1750 Fix cache for Docker buildx
  .github/workflows/elixir.yml
  .github/workflows/integration-tests.yml
  elixir/Dockerfile
Labels: bug

#1756 Move NoopAdapter to Domain app
  elixir/apps/domain/lib/domain/mailer/noop_adapter.ex
  elixir/apps/domain/mix.exs
  elixir/config/config.exs
Labels: elixir

#1739 Feat/expire peers
  rust/Cargo.lock
  rust/Cargo.toml
  rust/connlib/libs/client/Cargo.toml
  rust/connlib/libs/client/src/messages.rs
  rust/connlib/libs/common/Cargo.toml
  rust/connlib/libs/common/src/messages.rs
  rust/connlib/libs/gateway/Cargo.toml
  rust/connlib/libs/gateway/src/control.rs
  rust/connlib/libs/gateway/src/messages.rs
  rust/connlib/libs/tunnel/Cargo.toml
  rust/connlib/libs/tunnel/src/control_protocol.rs
  rust/connlib/libs/tunnel/src/lib.rs
  rust/connlib/libs/tunnel/src/peer.rs
Labels: feature

#1744 connlib: Hook up callbacks
  rust/Cargo.lock
  rust/connlib/libs/common/src/session.rs
  rust/connlib/libs/tunnel/Cargo.toml
  rust/connlib/libs/tunnel/src/lib.rs
  rust/connlib/libs/tunnel/src/resource_table.rs
Labels: feature

#1740 Product Roadmap
  website/next.config.mjs
  website/package.json
  website/pnpm-lock.yaml
  website/src/app/blog/page.tsx
  website/src/app/contact/1.0-early-access/page.tsx
  website/src/app/contact/layout.tsx
  website/src/app/contact/newsletter/page.tsx
  website/src/app/globals.css
  website/src/app/page.tsx
  website/src/app/product/early-access/page.tsx
  website/src/app/product/layout.tsx
  website/src/app/product/newsletter/page.tsx
  website/src/app/product/roadmap/page.tsx
  website/src/app/team/page.tsx
  website/src/components/ActionLink/index.tsx
  website/src/components/CommitMarquee/index.tsx
  website/src/components/DeployButton/index.tsx
  website/src/components/EarlyAccessForm/index.tsx
  website/src/components/Footer/index.tsx
  website/src/components/GitHubHtml/index.tsx
  website/src/components/HubspotForm/index.tsx
  website/src/components/JoinOurCommunity/index.tsx
  website/src/components/RootLayout/index.tsx
  website/src/components/RootNavbar/index.tsx
  website/src/components/SalesLeadForm/index.tsx
Labels: website

#1799 Style website legalese
  website/src/app/privacy-policy/page.tsx
  website/src/app/terms/page.tsx
  website/src/components/ConsentPreferences/index.tsx
  website/src/components/Footer/index.tsx
  website/src/components/TermlyContent/index.jsx
Labels: website

#1800 Thicker animation strokes; clarify blogpost
  website/public/images/firewall-block.svg
  website/public/images/firezone-1.0.svg
  website/public/images/stateful-firewall.svg
  website/src/app/blog/firezone-1-0/readme.mdx
  website/src/app/page.tsx
  website/src/app/product/early-access/page.tsx
  website/src/app/product/newsletter/_page.tsx
  website/src/app/product/roadmap/_page.tsx
  website/src/app/team/page.tsx
  website/src/components/Blog/SummaryCard/index.tsx
  website/src/components/EarlyAccessForm/index.tsx
  website/src/components/JoinOurCommunity/index.tsx
  website/src/components/RootLayout/index.tsx
  website/src/components/SalesLeadForm/index.tsx
Labels: website, blog

#1811 Add ring to menubar icons; use brand neutral shades
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/Contents.json
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/appicon-ios-1024.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/appicon-mac-128-2x.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/appicon-mac-128.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/appicon-mac-16-2x.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/appicon-mac-16.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/appicon-mac-256-2x.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/appicon-mac-256.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/appicon-mac-32-2x.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/appicon-mac-32.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/appicon-mac-512-2x.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/appicon-mac-512.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/logo-1024.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/logo-128.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/logo-16.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/logo-256 1.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/logo-256.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/logo-32 1.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/logo-32.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/logo-512 1.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/logo-512.png
  swift/apple/Firezone/Assets.xcassets/AppIcon.appiconset/logo-64.png
  swift/apple/Firezone/Assets.xcassets/MenuBarIconConnected.imageset/logo-main-connected-dark.svg
  swift/apple/Firezone/Assets.xcassets/MenuBarIconConnected.imageset/logo-main-connected-light.svg
  swift/apple/Firezone/Assets.xcassets/MenuBarIconDisconnected.imageset/logo-main-disconnected-dark.svg
  swift/apple/Firezone/Assets.xcassets/MenuBarIconDisconnected.imageset/logo-main-disconnected-light.svg
Labels: fix

#1827 elixir: Bump setup-chromedriver action
  .github/workflows/elixir.yml
Labels: ci
