Repository firezone/firezone, pull requests merged in 2023-06, with the labels that each got.

#1670 stringify FzHttp.Types.IPPort
  apps/fz_http/lib/fz_http/types/protocols.ex
Labels: bug

#1673 Disable dependabot for irrelevant languages
  .github/dependabot.yml
  website/src/app/team/page.tsx
Labels: refactor

#1678 Use pnpm over yarn
  .github/workflows/elixir.yml
  .github/workflows/publish_www.yml
  .pre-commit-config.yaml
  elixir/Dockerfile
  elixir/apps/web/assets/package.json
  elixir/apps/web/assets/pnpm-lock.yaml
  elixir/apps/web/assets/yarn.lock
Labels: refactor

#1683 Add pnpm to runners
  .github/workflows/elixir.yml
  elixir/Dockerfile
Labels: bug

#1686 Add fallback when email claim's not in ID token from OIDC provider
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
Labels: bug

#1688 Fix newsletter signup
  website/src/app/blog/layout.tsx
  website/src/app/blog/release-0-5-0/page.tsx
Labels: website

#1699 rust: fix dockerfile for building multiple images in parallel
  rust/Dockerfile
Labels: bug

#1700 docker: fix building for macos
  docker-compose.yml
  rust/Dockerfile.dev
Labels: bug

#1703 portal: Status indicator badge
  .prettierrc.json
  elixir/apps/web/assets/js/app.js
  elixir/apps/web/assets/js/hooks.js
  elixir/apps/web/assets/vendor/status_page.js
  elixir/apps/web/lib/web/components/core_components.ex
  elixir/apps/web/lib/web/components/layouts/app.html.heex
  elixir/config/dev.exs
Labels: feature

#1704 CONTRIBUTING.md updates
  CONTRIBUTING.md
  docker-compose.yml
  elixir/apps/web/assets/js/hooks.js
Labels: docs

#1691 connlib: Improve FFI bridges for Apple and Android
  .codespellrc
  .github/workflows/rust.yml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/connlib/clients/android/src/lib.rs
  rust/connlib/clients/apple/Cargo.toml
  rust/connlib/clients/apple/Sources/Connlib/Adapter.swift
  rust/connlib/clients/apple/Sources/Connlib/BridgingHeader-SwiftPM.h
  rust/connlib/clients/apple/Sources/Connlib/CallbackHandler.swift
  rust/connlib/clients/apple/build-rust.sh
  rust/connlib/clients/apple/build-xcframework-dev.sh
  rust/connlib/clients/apple/build.rs
  rust/connlib/clients/apple/connlib.xcodeproj/project.pbxproj
  rust/connlib/clients/apple/src/lib.rs
  rust/connlib/clients/headless/src/main.rs
  rust/connlib/gateway/src/main.rs
  rust/connlib/libs/client/src/control.rs
  rust/connlib/libs/client/src/lib.rs
  rust/connlib/libs/common/Cargo.toml
  rust/connlib/libs/common/src/error.rs
  rust/connlib/libs/common/src/error_type.rs
  rust/connlib/libs/common/src/session.rs
  rust/connlib/libs/gateway/src/control.rs
  rust/connlib/libs/gateway/src/lib.rs
  rust/connlib/libs/tunnel/src/control_protocol.rs
  rust/connlib/libs/tunnel/src/lib.rs
  rust/connlib/libs/tunnel/src/peer.rs
  rust/connlib/libs/tunnel/src/tun_android.rs
  rust/connlib/libs/tunnel/src/tun_darwin.rs
  rust/connlib/libs/tunnel/src/tun_win.rs
  rust/connlib/macros/Cargo.toml
  rust/connlib/macros/src/lib.rs
Labels: feature

#1705 Fix/docker compose up
  docker-compose.yml
  elixir/apps/domain/priv/repo/seeds.exs
  rust/Cargo.lock
  rust/Dockerfile
  rust/Dockerfile.dev
  rust/connlib/libs/common/Cargo.toml
  rust/connlib/libs/common/src/session.rs
Labels: bug

#1720 Disable `on_demand` cert provisioning for Caddy
  docker-compose.desktop.yml
  docker-compose.prod.yml
  scripts/install.sh
Labels: bug, security
