Repository firezone/firezone, pull requests merged in 2023-02, with the labels that each got.

#1396 Increase load peer timeout
  apps/fz_vpn/lib/fz_vpn/server.ex
Labels: bug

#1397 Remove Cockroach note
  docs/docs/deploy/advanced/external-database.mdx
Labels: docs

#1399 Reorganise auth routes to make sure that plugs do not block OIDC/SAML when local auth is disabled
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
Labels: bug

#1400 Add version tag to migrate script
  .github/workflows/docker_publish.yml
  .tool-versions
  Dockerfile.dev
  Dockerfile.prod
  docs/docs/administer/upgrade.mdx
  scripts/docker_migrate.sh
Labels: chore

#1403 Fix unique name constraint and render error on MFA register form
  apps/fz_http/lib/fz_http/mfa/method/changeset.ex
  apps/fz_http/priv/repo/migrations/20230203143621_change_mfa_methods_unique_index.exs
  apps/fz_http/test/fz_http/mfa_test.exs
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
Labels: bug

#1408 Fix recursive ping timer
  apps/fz_http/lib/fz_http/telemetry_ping_service.ex
Labels: bug

#1404 Refactor docs for REST API and consistency
  apps/fz_http/lib/fz_http_web/controllers/json/configuration_controller.ex
  docs/docs/README.mdx
  docs/docs/administer/debug-logs.mdx
  docs/docs/administer/migrate.mdx
  docs/docs/administer/regen-keys.mdx
  docs/docs/administer/troubleshoot.mdx
  docs/docs/administer/upgrade.mdx
  docs/docs/authenticate/README.mdx
  docs/docs/authenticate/local-auth.mdx
  docs/docs/authenticate/multi-factor.mdx
  docs/docs/authenticate/oidc/README.mdx
  docs/docs/authenticate/oidc/auth0.mdx
  docs/docs/authenticate/oidc/azuread.mdx
  docs/docs/authenticate/oidc/google.mdx
  docs/docs/authenticate/oidc/keycloak.mdx
  docs/docs/authenticate/oidc/okta.mdx
  docs/docs/authenticate/oidc/onelogin.mdx
  docs/docs/authenticate/oidc/zitadel.mdx
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/google.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
  docs/docs/deploy/README.mdx
  docs/docs/deploy/configure.mdx
  docs/docs/deploy/docker/README.mdx
  docs/docs/deploy/docker/supported-platforms.mdx
  docs/docs/deploy/omnibus/supported-platforms.mdx
  docs/docs/deploy/security-considerations.mdx
  docs/docs/reference/configuration-file.mdx
  docs/docs/reference/file-and-directory-locations.mdx
  docs/docs/reference/firewall-templates/README.mdx
  docs/docs/reference/firewall-templates/nftables.mdx
  docs/docs/reference/rest-api/README.mdx
  docs/docs/reference/security-controls.mdx
  docs/docs/reference/telemetry.mdx
  docs/docs/user-guides/add-devices.mdx
  docs/docs/user-guides/add-users.mdx
  docs/docs/user-guides/client-instructions.mdx
  docs/docs/user-guides/egress-rules.mdx
  docs/docs/user-guides/use-cases/nat-gateway/README.mdx
  docs/docs/user-guides/use-cases/reverse-tunnel.mdx
  docs/docs/user-guides/use-cases/split-tunnel.mdx
  docs/yarn.lock
Labels: docs

#1416 Fix recursive conncheck timer
  apps/fz_http/lib/fz_http/connectivity_check_service.ex
Labels: bug

#1413 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: chore

#1412 Remove unneeded dotfiles
  .env.sample
  .oidc_env.sample.json
  .rgignore
Labels: chore

#1411 Short guide on backup / restore
  docs/docs/administer/backup.mdx
  docs/docs/reference/file-and-directory-locations.mdx
Labels: docs

#1427 Fix OIDC error matching to catch token and verify failures
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
Labels: bug

#1438 Minor static site fixes
  www/src/pages/index.mdx
  www/src/pages/pricing.mdx
Labels: bug

#1439 Use Git 2.27 on CentOS 7
  .github/workflows/omnibus_build.yml
Labels: bug

#1448 Update startUrl to add /docs path
  www/docusaurus.config.js
Labels: docs

#1449 Fix broken link regression
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  www/docs/reference/env-vars.mdx
  www/docs/reference/rest-api/configurations.mdx
  www/docs/reference/rest-api/devices.mdx
  www/docs/reference/rest-api/rules.mdx
  www/docs/reference/rest-api/users.mdx
Labels: docs

#1451 Fix typo in default IPV6 address
  rel/overlays/bin/gen-env
Labels: bug

#1450 Fix external trusted proxies env usage
  apps/fz_http/lib/fz_http_web/header_helpers.ex
  apps/fz_http/test/fz_http_web/header_helpers_test.exs
Labels: bug

#1452 Move all bootstrapping to a separate script and reuse it for all commands
  rel/overlays/bin/bootstrap
  rel/overlays/bin/create-api-token
  rel/overlays/bin/create-or-reset-admin
  rel/overlays/bin/migrate
  rel/overlays/bin/server
Labels: bug

#1456 RemoteIp.Options.proxies expect list of strings not INETs
  apps/fz_http/lib/fz_http_web/header_helpers.ex
  apps/fz_http/test/fz_http_web/header_helpers_test.exs
Labels: bug

#1457 Cast external_url back to string before being consumed in config
  apps/fz_http/lib/fz_http/config/definitions.ex
Labels: bug

#1462 Fix various issues
  apps/fz_http/lib/fz_http/config/definitions.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/lib/fz_http/validator.ex
  apps/fz_http/lib/fz_http_web/header_helpers.ex
  apps/fz_http/priv/repo/migrations/20230223175621_trim_dns_fields.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  config/config.exs
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  rel/overlays/bin/create-api-token
  rel/overlays/bin/create-or-reset-admin
  rel/overlays/bin/migrate
  rel/overlays/bin/server
Labels: bug

#1463 Hide pricing and sales references for now
  www/blog/2022-07-25-release-0-5-0/index.mdx
  www/blog/2022-10-17-release-0-6-0/index.mdx
  www/docs/administer/debug-logs.mdx
  www/docs/authenticate/README.mdx
  www/docs/authenticate/oidc/README.mdx
  www/docs/authenticate/saml/README.mdx
  www/docs/authenticate/saml/google.mdx
  www/docs/authenticate/saml/jumpcloud.mdx
  www/docs/authenticate/saml/okta.mdx
  www/docs/authenticate/saml/onelogin.mdx
  www/docs/deploy/advanced/external-database.mdx
  www/docs/deploy/advanced/reverse-proxy.mdx
  www/docs/reference/_audit-logs.mdx
  www/docs/reference/telemetry.mdx
  www/docusaurus.config.js
  www/src/pages/_pricing.mdx
  www/src/pages/contact/support.mdx
  www/src/pages/index.mdx
  www/src/partials/_support_options.mdx
Labels: chore

#1467 Add observer and recon to the release
  apps/fz_http/mix.exs
  mix.lock
Labels: chore

#1474 Allow overriding Cowboy HTTP protocol options
  apps/fz_http/lib/fz_http/config/definitions.ex
  apps/fz_http/test/support/docs_generator.ex
  config/runtime.exs
  www/docs/reference/env-vars.mdx
Labels: feature
