Repository firezone/firezone, pull requests merged in 2023-03, with the labels that each got.

#1478 Add protocol implementation for IPPort struct and tests
  apps/fz_http/lib/fz_http/config/resolver.ex
  apps/fz_http/lib/fz_http/types/protocols.ex
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/client_defaults_test.exs
  apps/fz_http/test/support/conn_case.ex
Labels: bug

#1484 Hotfix multiple issues with new datatypes that crashed the app when using env overrides
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/priv/repo/migrations/20230206172556_change_dns_and_allowed_ips_to_inet_array.exs
  apps/fz_http/priv/repo/migrations/20230223175621_trim_dns_fields.exs
Labels: bug

#1480 Bump all deps and fix Phoenix to v1.7
  .github/workflows/test.yml
  apps/fz_http/mix.exs
  mix.exs
  mix.lock
Labels: chore

#1487 Don't create interface if it already exists
  rel/overlays/bin/bootstrap
Labels: bug

#1495 Do not trim Ecto.Enum values in docs generator
  apps/fz_http/test/fz_http/config_test.exs
  apps/fz_http/test/support/docs_generator.ex
  www/docs/reference/env-vars.mdx
Labels: docs

#1496 Clarify that Azure needs trailing slack in Firezone configs too
  www/docs/authenticate/oidc/azuread.mdx
Labels: docs

#1498 Hotfix: remove duplicate ip link command
  rel/overlays/bin/bootstrap
Labels: bug

#1500 Remove DATABASE_URL from local dev container and use documented ENV variables instead
  Dockerfile.dev
  config/dev.exs
  docker-compose.yml
Labels: chore

#1510 Use ip link commands to check if interface should be changed or route added
  rel/overlays/bin/bootstrap
Labels: bug

#1509 Use DEFAULT_ADMIN_EMAIL everywhere to prevent legacy key usage warnings on fresh installs
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/priv/repo/migrations/20211221183311_add_role_to_users.exs
  rel/overlays/bin/gen-env
  scripts/docker_migrate.sh
  scripts/install.sh
  www/docs/administer/troubleshoot.mdx
  www/docs/deploy/docker/README.mdx
  www/docs/reference/rest-api/README.mdx
  www/docs/reference/reverse-proxy-templates/traefik.mdx
Labels: chore

#1515 Fix double slash in redirect URL redirect location
  .credo.exs
  apps/fz_http/lib/fz_http/auth.ex
  apps/fz_http/lib/fz_http/config/definitions.ex
  apps/fz_http/lib/fz_http/validator.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/test/fz_http/auth_test.exs
  apps/fz_http/test/fz_http/config_test.exs
Labels: bug
