Repository firezone/firezone, pull requests merged in 2023-01, with the labels that each got.

#1221 Expose some http client ssl opts via HTTP_CLIENT_SSL_OPTS
  apps/fz_common/lib/fz_common.ex
  apps/fz_http/lib/fz_http/connectivity_check_service.ex
  apps/fz_http/test/support/mocks/http_client.ex
  config/config.exs
  config/runtime.exs
  docs/docs/reference/env-vars.mdx
Labels: feature

#1269 Add more comprehensive REST API tests
  .formatter.exs
  apps/fz_http/lib/fz_http/configurations/configuration/openid_connect_provider.ex
  apps/fz_http/lib/fz_http/connectivity_checks.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/auth/json/error_handler.ex
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/lib/fz_http_web/views/json/configuration_view.ex
  apps/fz_http/lib/fz_http_web/views/json/openid_connect_provider_view.ex
  apps/fz_http/lib/fz_http_web/views/json/saml_identity_provider_view.ex
  apps/fz_http/test/fz_http/configurations_test.exs
  apps/fz_http/test/fz_http/connectivity_checks_test.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/support/api_case.ex
  apps/fz_http/test/support/conn_case.ex
  apps/fz_http/test/support/fixtures/configurations_fixtures.ex
  apps/fz_http/test/support/fixtures/openid_connect_provider_fixtures.ex
  apps/fz_http/test/support/fixtures/saml_config_fixtures.ex
  apps/fz_http/test/support/fixtures/saml_identity_provider_fixtures.ex
  config/test.exs
Labels: chore

#1280 Fix minor deploy docs typos
  docs/docs/deploy/docker/README.mdx
Labels: bug

#1282 Add deprecation warning to `postinst` script
  omnibus/package-scripts/firezone/postinst
Labels: chore

#1287 Use eval for create-or-reset-admin; expose with RESET_ADMIN_ON_BOOT
  apps/fz_http/lib/fz_http/release.ex
  docs/docs/deploy/docker/README.mdx
  docs/docs/reference/env-vars.mdx
  rel/overlays/bin/create-or-reset-admin
  rel/overlays/bin/server
  scripts/install.sh
Labels: feature

#1290 Add HTTP_CLIENT_SSL_OPTS example
  docs/docs/reference/env-vars.mdx
Labels: docs

#1291 Bump to 0.7.0 release
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
Labels: chore, minor

#1294 Add note on generating API token
  docs/docs/administer/upgrade.mdx
  docs/docs/reference/api/README.md
  docs/docs/reference/api/README.mdx
Labels: docs

#1303 Fix docs link
  docs/docs/administer/upgrade.mdx
Labels: docs

#1305 Boot minimal app for DB changes
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/release.ex
  docs/docs/administer/troubleshoot.mdx
  docs/docs/deploy/docker/README.mdx
  omnibus/cookbooks/firezone/recipes/create_admin.rb
  rel/overlays/bin/create-api-token
  scripts/install.sh
Labels: bug

#1306 Update default REST API docs path; Note on stdout api tokens
  apps/fz_http/test/test_helper.exs
  docs/docs/administer/upgrade.mdx
  docs/docs/reference/rest-api/README.mdx
  docs/docs/reference/rest-api/configurations.mdx
  docs/docs/reference/rest-api/devices.mdx
  docs/docs/reference/rest-api/rules.mdx
  docs/docs/reference/rest-api/users.mdx
Labels: docs

#1309 Add missing env var
  config/runtime.exs
  rel/overlays/bin/server
  scripts/install.sh
Labels: bug

#1310 Migrate DB before using for the first time
  docs/docs/deploy/docker/README.mdx
  scripts/install.sh
Labels: bug

#1326 Handle EXTERNAL_URL missing scheme
  .formatter.exs
  apps/fz_http/priv/repo/migrations/20221224210654_fix_sites_nullable_fields.exs
Labels: bug

#1328 Fix saml certfile path for omnibus
  omnibus/cookbooks/firezone/libraries/config.rb
Labels: bug

#1330 Wrap env vars for conditionals
  rel/overlays/bin/server
Labels: bug

#1334 Omit ownership statements from Postgres DB dump
  scripts/docker_migrate.sh
Labels: bug

#1333 Don't override SAML config booleans
  apps/fz_http/lib/fz_http/config.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/fz_http_web/plug/path_prefix_test.exs
Labels: bug

#1345 Add e2e test for magic links
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/support/mailer_test_adapter.ex
  config/test.exs
Labels: chore

#1344 Soft limit CIDR range for IPv6 network to 288230376151711744 devices
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/test/fz_http/devices/device/query_test.exs
  apps/fz_http/test/fz_http/devices_test.exs
Labels: bug

#1338 Update troubleshooting guide for clearing auth config in DB
  docs/docs/administer/troubleshoot.mdx
Labels: docs

#1348 Chore/update project api key
  config/config.exs
  docs/static/js/posthog.js
  omnibus/cookbooks/firezone/files/default/ctl-commands/create_admin.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/force_renewal.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/stop_renewal.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-finish.erb
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/postrm
  omnibus/package-scripts/firezone/preinst
  omnibus/package-scripts/firezone/prerm
  scripts/install.sh
  scripts/omnibus_install.sh
Labels: chore

#1346 Better outbound email config parsing
  apps/fz_http/lib/fz_http/configurations/mailer.ex
  apps/fz_http/lib/fz_http/mailer.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/mailer.ex
  apps/fz_http/lib/fz_http_web/plug/require_local_authentication.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/test/fz_http/configurations/mailer_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/mailer_test.exs
  config/runtime.exs
Labels: bug

#1350 Fix SAML restart and remove test env code path
  apps/fz_http/lib/fz_http/configurations.ex
  apps/fz_http/lib/fz_http/configurations/configuration/saml_identity_provider.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  docker-compose.yml
Labels: bug

#1351 Inspect mailer errors in boot
  config/runtime.exs
Labels: bug

#1339 Rework MFA methods
  apps/fz_http/assets/js/hooks.js
  apps/fz_http/lib/fz_http/mfa.ex
  apps/fz_http/lib/fz_http/mfa/method.ex
  apps/fz_http/lib/fz_http/mfa/method/changeset.ex
  apps/fz_http/lib/fz_http/mfa/method/query.ex
  apps/fz_http/lib/fz_http/repo.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/validator.ex
  apps/fz_http/lib/fz_http_web/auth/html/authentication.ex
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/lib/fz_http_web/error_helpers.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_mfa.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/auth_live.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_component.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_steps_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_live.ex
  apps/fz_http/lib/fz_http_web/live/user_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live_helpers.ex
  apps/fz_http/priv/repo/migrations/20230116200524_add_not_null_to_mfa_methods.exs
  apps/fz_http/test/fz_http/mfa_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/fz_http_web/live/mfa_live/auth_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/index_test.exs
  apps/fz_http/test/support/acceptance_case/auth.ex
  apps/fz_http/test/support/fixtures/mfa_fixtures.ex
  apps/fz_http/test/support/test_helpers.ex
Labels: bug, chore

#1355 Fix outbound mailer config changeset
  config/runtime.exs
Labels: bug

#1359 Start testing migrations and seeds on CI
  .github/workflows/test.yml
  apps/fz_http/lib/fz_http/config.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/fz_http_web/plug/path_prefix_test.exs
  apps/fz_http/test/support/acceptance_case.ex
  config/test.exs
Labels: chore

#1364 Document auto-create users more clearly in SAML setup guides
  docs/docs/authenticate/saml/google.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Labels: docs

#1367 Fix rendering for logo struct in REST API
  apps/fz_http/lib/fz_http/configurations/logo.ex
  apps/fz_http/lib/fz_http_web/views/json/configuration_view.ex
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/support/api_case.ex
Labels: bug

#1369 Add version suffix to cookie signing salt
  apps/fz_http/lib/fz_http_web/session.ex
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
Labels: bug

#1370 Refactor api tokens
  apps/fz_http/lib/fz_http/api_tokens.ex
  apps/fz_http/lib/fz_http/api_tokens/api_token.ex
  apps/fz_http/lib/fz_http/api_tokens/api_token/changeset.ex
  apps/fz_http/lib/fz_http/api_tokens/api_token/query.ex
  apps/fz_http/lib/fz_http_web/auth/json/authentication.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/test/fz_http/api_tokens_test.exs
  apps/fz_http/test/fz_http_web/auth/json/authentication_test.exs
  apps/fz_http/test/support/api_case.ex
  apps/fz_http/test/support/fixtures/api_tokens_fixtures.ex
Labels: chore

#1384 Fix LiveView disconnect when config is downloaded
  apps/fz_http/assets/js/wg_conf.js
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/acceptance/unprivileged_user_test.exs
Labels: bug

#1387 Change default_client_allowed_ips type to string
  apps/fz_http/priv/repo/migrations/20221226143651_move_sites_fields_to_configurations.exs
  apps/fz_http/priv/repo/migrations/20230127164048_change_configurations_default_client_allowed_ips_type.exs
Labels: bug
