Repository firezone/firezone, pull requests merged in 2024-01, with the labels that each got.

#3272 Stop storing client tokens in sessions
  elixir/apps/web/lib/web/auth.ex
  elixir/apps/web/test/web/acceptance/auth/email_test.exs
  elixir/apps/web/test/web/auth_test.exs
Labels: kind/bug, area/portal

#3273 fix(portal): Fix lost client auth state for OIDC redirects
  elixir/apps/web/lib/web/auth.ex
  elixir/apps/web/lib/web/controllers/auth_controller.ex
  elixir/apps/web/lib/web/router.ex
  elixir/apps/web/test/web/acceptance/auth/email_test.exs
  elixir/apps/web/test/web/acceptance/auth/openid_connect_test.exs
  elixir/apps/web/test/web/acceptance/auth/userpass_test.exs
  elixir/apps/web/test/web/auth_test.exs
  elixir/apps/web/test/web/controllers/auth_controller_test.exs
Labels: kind/bug, area/portal

#3275 Do not refresh access token when refresh token is invalid
  elixir/apps/domain/lib/domain/auth/adapters/openid_connect.ex
  elixir/apps/domain/test/domain/auth/adapters/openid_connect_test.exs
Labels: area/portal

#3325 fix(portal): Allow users to manually provision OIDC users
  elixir/apps/domain/lib/domain/auth/adapters/openid_connect.ex
  elixir/apps/domain/lib/domain/auth/identity/query.ex
  elixir/apps/domain/test/domain/auth/adapters/openid_connect_test.exs
  elixir/apps/domain/test/support/mocks/openid_connect.ex
  elixir/apps/web/lib/web/live/actors/components.ex
  elixir/apps/web/test/web/acceptance/auth/openid_connect_test.exs
  elixir/apps/web/test/web/live/actors/users/new_identity_test.exs
Labels: kind/feature, area/portal

#3385 fix(windows): allow user to cancel sign-in flow
  rust/windows-client/src-tauri/src/client/gui.rs
  rust/windows-client/src-tauri/src/client/gui/system_tray_menu.rs
Labels: area/windows_client

#3463 fix(windows): CSS nit
  rust/windows-client/src/settings.html
Labels: area/windows_client, kind/UX
