Repository firezone/firezone, pull requests merged in 2024-04, with the labels that each got.

#4387 chore(gui-client): support cargo-mutants
  rust/gui-client/src-tauri/src/client.rs
Labels: area/ci, kind/chore

#4341 refactor(ci): move DNS control method up to docker-compose.yml
  .github/workflows/_integration_tests.yml
  docker-compose.yml
  scripts/tests/dns-failsafe.sh
Labels: area/ci, kind/refactor, area/linux_client

#4277 test(gui-client): unit test for Linux IPC
  .github/actions/setup-rust/action.yml
  .github/workflows/_rust.yml
  rust/Cargo.lock
  rust/client-tunnel/Cargo.toml
  rust/client-tunnel/src/lib.rs
  rust/connlib/clients/shared/src/lib.rs
  scripts/tests/lib.sh
Labels: area/ci, area/tauri_client

#4460 refactor(gui-client): insert abstraction layer to put connlib behind IPC
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/tunnel-wrapper/in_proc.rs
  rust/gui-client/src-tauri/src/client/tunnel-wrapper/ipc.rs
Labels: kind/refactor, area/tauri_client

#4465 chore(client-tunnel): hook up placeholder IPC server for Linux
  rust/Cargo.lock
  rust/client-tunnel/Cargo.toml
  rust/client-tunnel/src/lib.rs
  rust/client-tunnel/src/linux.rs
Labels: area/linux_client, kind/chore

#4576 chore(windows): bump Rust to handle CVE-2024-24576
  rust/rust-toolchain.toml
Labels: area/windows_client, kind/chore

#4581 fix(portal): Bump jose
  elixir/mix.lock
Labels: kind/security

#4591 fix(ci): autolabeler to fix changelog drafting
  .github/workflows/_build_artifacts.yml
Labels: kind/bug

#4608 fix(ci): Override release_drafter commitish since we run on PRs now
  .github/workflows/_build_artifacts.yml
  .github/workflows/ci.yml
Labels: kind/bug

#4610 ci: Enable client compatibility tests
  .github/workflows/ci.yml
  .github/workflows/hotfix.yml
Labels: kind/feature

#4612 ci: Only build debug images for `linux/amd64`
  .github/workflows/_build_artifacts.yml
Labels: kind/feature

#4606 refactor(headless-client): use Tokio codec instead of hand-rolled length-delimited codec
  rust/Cargo.lock
  rust/connlib/clients/shared/src/messages.rs
  rust/connlib/shared/src/messages.rs
  rust/headless-client/Cargo.toml
  rust/headless-client/src/lib.rs
  rust/headless-client/src/linux.rs
Labels: kind/refactor, area/linux_client

#4614 fix(portal): remove typo in manual command var
  elixir/apps/web/lib/web/live/sites/new_token.ex
Labels: kind/bug

#4604 refactor(headless-client): change CLI args for the IPC daemon
  docker-compose.yml
  rust/headless-client/Cargo.toml
  rust/headless-client/README.md
  rust/headless-client/src/lib.rs
  rust/headless-client/src/linux.rs
Labels: kind/refactor

#4530 fix(windows): patch some DNS leaks
  rust/connlib/shared/Cargo.toml
  rust/connlib/shared/src/lib.rs
  rust/connlib/shared/src/windows.rs
  rust/connlib/tunnel/src/device_channel/tun_windows.rs
  rust/gui-client/src-tauri/src/client/elevation.rs
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/tunnel-wrapper/in_proc.rs
Labels: kind/bug

#4567 chore(connlib): upsert relays from "init" message
  rust/connlib/clients/shared/src/eventloop.rs
  rust/connlib/clients/shared/src/messages.rs
  rust/connlib/shared/src/messages.rs
  rust/connlib/snownet/src/allocation.rs
  rust/connlib/snownet/src/node.rs
  rust/connlib/snownet/tests/lib.rs
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/lib.rs
  rust/connlib/tunnel/src/utils.rs
  rust/gateway/src/main.rs
  rust/gateway/src/messages.rs
  rust/snownet-tests/src/main.rs
Labels: kind/chore

#4616 refactor: Discord -> Slack
  .github/ISSUE_TEMPLATE/config.yml
  docs/README.md
  elixir/apps/web/lib/web/live/settings/billing.ex
  website/src/app/pricing/plan_table.tsx
  website/src/components/Footer/index.tsx
  website/src/components/SupportOptions/index.tsx
Labels: kind/refactor

#4603 fix(windows-client): remove spurious "Connected to Firezone" notifications
  rust/gui-client/src-tauri/src/client/gui.rs
Labels: kind/bug, area/windows_client, kind/UX, area/tauri_client

#4631 chore(ci): .env not available in `with` shared workflow context
  .github/workflows/cd.yml
Labels: kind/chore

#4632 refactor(apple): Don't log error if calling stop on stopped tunnel
  swift/apple/FirezoneKit/Sources/FirezoneKit/Stores/Store.swift
Labels: kind/refactor

#4623 chore(portal): Change name and structure of relays presence event
  elixir/apps/api/lib/api/client/channel.ex
  elixir/apps/api/test/api/client/channel_test.exs
Labels: kind/chore

#4633 fix(apple): Append to Swift logfile instead of overwriting each time
  swift/apple/FirezoneKit/Sources/FirezoneKit/Helpers/Log.swift
Labels: kind/bug

#4638 chore(portal): Add one more test for relays lb
  elixir/apps/api/test/api/gateway/channel_test.exs
  elixir/apps/domain/test/domain/relays_test.exs
Labels: kind/chore

#4640 chore(ci): Use netstat instead of ss for release image tests
  scripts/tests/relay-graceful-shutdown.sh
Labels: kind/chore

#4637 refactor(test): use 'set -euox' instead of manual echos
  scripts/tests/systemd/dns-systemd-resolved.sh
Labels: kind/refactor

#4617 refactor(portal): Refactor client login to use HTML meta refresh and cookie
  elixir/apps/web/lib/web/auth.ex
  elixir/apps/web/lib/web/controllers/auth_controller.ex
  elixir/apps/web/lib/web/controllers/sign_in_controller.ex
  elixir/apps/web/lib/web/controllers/sign_in_html.ex
  elixir/apps/web/lib/web/live/sign_in/success.ex
  elixir/apps/web/lib/web/router.ex
  elixir/apps/web/test/support/conn_case.ex
  elixir/apps/web/test/web/acceptance/auth/email_test.exs
  elixir/apps/web/test/web/auth_test.exs
  elixir/apps/web/test/web/controllers/auth_controller_test.exs
  elixir/apps/web/test/web/controllers/sign_in_controller_test.exs
  elixir/apps/web/test/web/live/sign_in/email_test.exs
  elixir/apps/web/test/web/live/sign_in/success_test.exs
Labels: kind/refactor

#4643 chore(ci): build docker dev images with `main`
  .github/workflows/cd.yml
Labels: kind/chore

#4642 chore(rust): fix local docker development
  docker-compose.yml
  rust/docker-compose-dev.yml
Labels: kind/chore

#4645 fix(website): Fix broken links
  website/src/app/blog/apr-2024-update/readme.mdx
  website/src/app/blog/mar-2024-update/readme.mdx
  website/src/app/blog/release-0-6-0/readme.mdx
  website/src/app/docs/authenticate/oidc/google/readme.mdx
  website/src/app/docs/authenticate/oidc/zitadel/readme.mdx
  website/src/app/docs/reference/env-vars/readme.mdx
  website/src/app/kb/administer/page.tsx
  website/src/app/kb/administer/readme.mdx
  website/src/app/kb/architecture/core-components/readme.mdx
  website/src/app/kb/authenticate/directory-sync/readme.mdx
  website/src/app/kb/authenticate/oidc/readme.mdx
  website/src/app/kb/deploy/dns/readme.mdx
  website/src/app/kb/quickstart/readme.mdx
  website/src/app/kb/reference/faq/readme.mdx
  website/src/app/kb/reference/glossary/readme.mdx
Labels: kind/bug

#4648 chore(website): update wireguard impl
  website/src/app/kb/architecture/security-controls/readme.mdx
Labels: kind/chore

#4649 chore(docs): Recommend 3 gateways
  website/src/app/kb/deploy/gateways/readme.mdx
Labels: kind/chore

#4630 chore(linux): ask systemd to limit our privileges
  scripts/tests/systemd/dns-systemd-resolved.sh
  scripts/tests/systemd/firezone-client.service
Labels: kind/chore

#4663 chore(docs): formalize the rule for logging sensitive info
  docs/CONTRIBUTING.md
Labels: kind/chore

#4656 refactor(linux-client): rename `daemon` subcommand to `ipc-service`
  rust/headless-client/src/lib.rs
  rust/headless-client/src/linux.rs
Labels: kind/refactor

#4654 fix(linux-client): don't show the token in `--help`
  rust/headless-client/src/lib.rs
Labels: kind/bug

#4628 chore(linux): only allow IPC connections from members of the `firezone` group
  rust/Cargo.lock
  rust/headless-client/Cargo.toml
  rust/headless-client/src/lib.rs
  rust/headless-client/src/linux.rs
  scripts/tests/lib.sh
  scripts/tests/linux-group.sh
  scripts/tests/systemd/dns-systemd-resolved.sh
  scripts/tests/systemd/firezone-client.service
  website/src/app/kb/user-guides/linux-client/readme.mdx
Labels: kind/chore

#4646 chore(connlib): add unit test for deserializing `broadcast_ice_candidates`
  rust/connlib/clients/shared/src/messages.rs
Labels: kind/chore

#4658 chore(linux-client): print resources with `tracing::debug`
  rust/headless-client/src/linux.rs
Labels: kind/chore

#4672 chore(relay): parse `init` message
  rust/relay/src/main.rs
Labels: kind/chore

#4673 chore(phoenix-channel): don't log message on deserialisation error
  rust/phoenix-channel/src/lib.rs
Labels: kind/chore

#4676 fix(website): Add missing sidebar link
  website/src/components/KbSidebar/index.tsx
Labels: kind/bug

#4409 refactor(portal): Allow concurrent updates to synced actor/actor identities during sync
  elixir/apps/domain/lib/domain/actors.ex
  elixir/apps/domain/lib/domain/actors/group/sync.ex
  elixir/apps/domain/lib/domain/actors/membership/sync.ex
  elixir/apps/domain/lib/domain/auth.ex
  elixir/apps/domain/lib/domain/auth/adapter/directory_sync.ex
  elixir/apps/domain/lib/domain/auth/adapters/google_workspace.ex
  elixir/apps/domain/lib/domain/auth/adapters/google_workspace/jobs/refresh_access_tokens.ex
  elixir/apps/domain/lib/domain/auth/adapters/google_workspace/jobs/sync_directory.ex
  elixir/apps/domain/lib/domain/auth/adapters/microsoft_entra.ex
  elixir/apps/domain/lib/domain/auth/adapters/microsoft_entra/jobs/refresh_access_tokens.ex
  elixir/apps/domain/lib/domain/auth/adapters/microsoft_entra/jobs/sync_directory.ex
  elixir/apps/domain/lib/domain/auth/adapters/okta.ex
  elixir/apps/domain/lib/domain/auth/adapters/okta/jobs/refresh_access_tokens.ex
  elixir/apps/domain/lib/domain/auth/adapters/okta/jobs/sync_directory.ex
  elixir/apps/domain/lib/domain/auth/identity/sync.ex
  elixir/apps/domain/lib/domain/auth/provider/query.ex
  elixir/apps/domain/lib/domain/billing.ex
  elixir/apps/domain/lib/domain/billing/jobs/check_account_limits.ex
  elixir/apps/domain/lib/domain/cluster/google_compute_labels_strategy.ex
  elixir/apps/domain/lib/domain/jobs.ex
  elixir/apps/domain/lib/domain/jobs/executors/concurrent.ex
  elixir/apps/domain/lib/domain/jobs/executors/globally_unique.ex
  elixir/apps/domain/lib/domain/jobs/job.ex
  elixir/apps/domain/lib/domain/jobs/recurrent.ex
  elixir/apps/domain/lib/domain/telemetry.ex
  elixir/apps/domain/lib/domain/tokens.ex
  elixir/apps/domain/lib/domain/tokens/jobs.ex
  elixir/apps/domain/lib/domain/tokens/jobs/delete_expired_tokens.ex
  elixir/apps/domain/test/domain/actors_test.exs
  elixir/apps/domain/test/domain/auth/adapters/google_workspace/jobs/refresh_access_tokens_test.exs
  elixir/apps/domain/test/domain/auth/adapters/google_workspace/jobs/sync_directory_test.exs
  elixir/apps/domain/test/domain/auth/adapters/microsoft_entra/jobs/refresh_access_tokens_test.exs
  elixir/apps/domain/test/domain/auth/adapters/microsoft_entra/jobs/sync_directory_test.exs
  elixir/apps/domain/test/domain/auth/adapters/okta/jobs/refresh_access_tokens_test.exs
  elixir/apps/domain/test/domain/auth/adapters/okta/jobs/sync_directory.exs
  elixir/apps/domain/test/domain/auth_test.exs
  elixir/apps/domain/test/domain/billing/jobs/check_account_limits_test.exs
  elixir/apps/domain/test/domain/jobs/executors/concurrent_test.exs
  elixir/apps/domain/test/domain/jobs/executors/globally_unique_test.exs
  elixir/apps/domain/test/domain/jobs/recurrent_test.exs
  elixir/apps/domain/test/support/fixture.ex
  terraform/environments/production/portal.tf
  terraform/environments/staging/portal.tf
Labels: kind/refactor

#4685 feat(portal): Broadcast relays presence to gateways and add invalidate_ice_candidates messages
  elixir/apps/api/lib/api/client/channel.ex
  elixir/apps/api/lib/api/gateway/channel.ex
  elixir/apps/api/test/api/client/channel_test.exs
  elixir/apps/api/test/api/gateway/channel_test.exs
Labels: kind/feature

#4693 fix(portal): Fix bug with preset values in policies dropdowns
  elixir/apps/web/lib/web/components/form_components.ex
  elixir/apps/web/lib/web/live/policies/new.ex
  elixir/apps/web/test/web/live/policies/new_test.exs
Labels: kind/bug

#4597 test(connlib): assert connection intents using property-based state machine test
  rust/Cargo.lock
  rust/Cargo.toml
  rust/connlib/shared/src/messages.rs
  rust/connlib/shared/src/proptest.rs
  rust/connlib/snownet/src/node.rs
  rust/connlib/tunnel/Cargo.toml
  rust/connlib/tunnel/proptest-regressions/tests.txt
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/ip_packet.rs
  rust/connlib/tunnel/src/lib.rs
  rust/connlib/tunnel/src/tests.rs
Labels: kind/chore

#4675 chore(snownet): assert that we can send ICMP packets through the tunnel
  rust/connlib/snownet/src/ip_packet.rs
  rust/connlib/snownet/src/node.rs
  rust/connlib/snownet/tests/lib.rs
Labels: kind/chore

#4698 chore(connlib): remove MTU refreshing
  rust/connlib/tunnel/src/device_channel.rs
  rust/connlib/tunnel/src/device_channel/tun_darwin.rs
  rust/connlib/tunnel/src/device_channel/tun_linux.rs
Labels: kind/chore

#4700 chore(relay): log all failed requests on warn
  rust/relay/src/server.rs
Labels: kind/chore

#4702 chore: extract common `ip-packet` crate
  rust/Cargo.lock
  rust/Cargo.toml
  rust/connlib/snownet/Cargo.toml
  rust/connlib/snownet/src/ip_packet.rs
  rust/connlib/snownet/src/lib.rs
  rust/connlib/snownet/src/node.rs
  rust/connlib/snownet/tests/lib.rs
  rust/connlib/tunnel/Cargo.toml
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/device_channel.rs
  rust/connlib/tunnel/src/dns.rs
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/io.rs
  rust/connlib/tunnel/src/ip_packet.rs
  rust/connlib/tunnel/src/lib.rs
  rust/connlib/tunnel/src/peer.rs
  rust/connlib/tunnel/src/tests.rs
  rust/ip-packet/Cargo.toml
  rust/ip-packet/src/lib.rs
  rust/ip-packet/src/make.rs
  rust/snownet-tests/Cargo.toml
  rust/snownet-tests/src/main.rs
Labels: kind/chore

#4712 refactor(docs): Refactor KbSideBar to more accurately reflect content
  website/src/app/kb/authenticate/directory-sync/readme.mdx
  website/src/app/kb/authenticate/entra/readme.mdx
  website/src/app/kb/authenticate/google/readme.mdx
  website/src/app/kb/authenticate/okta/readme.mdx
  website/src/app/kb/deploy/clients/readme.mdx
  website/src/app/kb/readme.mdx
  website/src/app/kb/user-guides/readme.mdx
  website/src/components/KbSidebar/index.tsx
Labels: kind/refactor

#4704 feat(docs): Add Cloudflare WARP known incompatibility issue
  website/src/app/kb/user-guides/macos-client/readme.mdx
Labels: kind/feature

#4666 chore(linux-client): allow custom token path
  .github/workflows/_rust.yml
  rust/Cargo.lock
  rust/headless-client/Cargo.toml
  rust/headless-client/src/imp_linux.rs
  rust/headless-client/src/lib.rs
  scripts/tests/lib.sh
  scripts/tests/linux-group.sh
  scripts/tests/systemd/dns-systemd-resolved.sh
  scripts/tests/token-path.sh
  website/src/app/kb/user-guides/linux-client/readme.mdx
Labels: kind/chore

#4711 chore(website): Use sales / sign up for CTA in navbar
  website/src/app/page.tsx
  website/src/components/Buttons/index.tsx
  website/src/components/RequestDemoButton/index.tsx
  website/src/components/RootNavbar/index.tsx
Labels: kind/chore

#4677 docs: Add common use cases
  website/public/images/kb/use-cases/host-access/step1.png
  website/public/images/kb/use-cases/nat-gateway/verify.png
  website/public/images/kb/use-cases/postgres-access/step1.png
  website/public/images/kb/use-cases/private-network-access/step1.png
  website/public/images/kb/use-cases/saas-app-access/step1.png
  website/public/images/kb/use-cases/scale-vpc-access/step1.png
  website/public/images/kb/use-cases/secure-dns/step2.png
  website/public/images/kb/use-cases/web-app-access/step1.png
  website/public/images/kb/use-cases/web-app-access/step3.png
  website/src/app/kb/use-cases/host-access/_page.tsx
  website/src/app/kb/use-cases/host-access/page.tsx
  website/src/app/kb/use-cases/host-access/readme.mdx
  website/src/app/kb/use-cases/nat-gateway/_page.tsx
  website/src/app/kb/use-cases/nat-gateway/page.tsx
  website/src/app/kb/use-cases/nat-gateway/readme.mdx
  website/src/app/kb/use-cases/page.tsx
  website/src/app/kb/use-cases/postgres-access/_page.tsx
  website/src/app/kb/use-cases/postgres-access/page.tsx
  website/src/app/kb/use-cases/postgres-access/readme.mdx
  website/src/app/kb/use-cases/private-network-access/_page.tsx
  website/src/app/kb/use-cases/private-network-access/page.tsx
  website/src/app/kb/use-cases/private-network-access/readme.mdx
  website/src/app/kb/use-cases/readme.mdx
  website/src/app/kb/use-cases/saas-app-access/_page.tsx
  website/src/app/kb/use-cases/saas-app-access/page.tsx
  website/src/app/kb/use-cases/saas-app-access/readme.mdx
  website/src/app/kb/use-cases/scale-vpc-access/_page.tsx
  website/src/app/kb/use-cases/scale-vpc-access/page.tsx
  website/src/app/kb/use-cases/scale-vpc-access/readme.mdx
  website/src/app/kb/use-cases/secure-dns/_page.tsx
  website/src/app/kb/use-cases/secure-dns/page.tsx
  website/src/app/kb/use-cases/secure-dns/readme.mdx
  website/src/app/kb/use-cases/web-app-access/_page.tsx
  website/src/app/kb/use-cases/web-app-access/page.tsx
  website/src/app/kb/use-cases/web-app-access/readme.mdx
  website/src/components/KbSidebar/index.tsx
Labels: kind/feature, kind/docs

#4708 chore(docs): Update sizing recs for Gateways
  website/src/app/kb/deploy/gateways/readme.mdx
Labels: kind/chore

#4719 chore(website): Publish macOS client
  website/src/app/kb/user-guides/macos-client/readme.mdx
Labels: kind/chore

#4615 chore(snownet): don't update remote socket from WG activity
  rust/Cargo.lock
  rust/connlib/clients/shared/src/eventloop.rs
  rust/connlib/clients/shared/src/messages.rs
  rust/connlib/shared/src/messages.rs
  rust/connlib/snownet/src/allocation.rs
  rust/connlib/snownet/src/node.rs
  rust/connlib/snownet/src/ringbuffer.rs
  rust/connlib/snownet/tests/lib.rs
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/lib.rs
  rust/gateway/src/eventloop.rs
  rust/gateway/src/messages.rs
  rust/snownet-tests/src/main.rs
Labels: kind/chore

#4709 refactor(connlib): remove `PacketTransform` abstraction
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/peer.rs
  rust/connlib/tunnel/src/peer_store.rs
Labels: kind/refactor

#4568 feat(connlib): smoothly migrate relayed connections
  .github/workflows/_integration_tests.yml
  .github/workflows/ci.yml
  docker-compose.yml
  rust/Cargo.lock
  rust/connlib/clients/shared/src/eventloop.rs
  rust/connlib/clients/shared/src/messages.rs
  rust/connlib/shared/src/messages.rs
  rust/connlib/snownet/src/node.rs
  rust/connlib/snownet/tests/lib.rs
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/lib.rs
  rust/gateway/src/eventloop.rs
  rust/gateway/src/main.rs
  rust/gateway/src/messages.rs
  scripts/tests/direct-curl-api-relay-down.sh
  scripts/tests/direct-dns-relay-down.sh
  scripts/tests/lib.sh
  scripts/tests/perf/relayed-tcp-client2server.sh
  scripts/tests/perf/relayed-tcp-server2client.sh
  scripts/tests/perf/relayed-udp-client2server.sh
  scripts/tests/perf/relayed-udp-server2client.sh
  scripts/tests/relay-graceful-shutdown.sh
  scripts/tests/relayed-curl-relay-restart.sh
  scripts/tests/relayed-dns-relay-restart.sh
Labels: kind/feature

#4569 test(client): add reconnection tests from a client using a headless browser
  .github/workflows/_build_artifacts.yml
  .github/workflows/_integration_tests.yml
  rust/Dockerfile
  scripts/tests/browser/.gitignore
  scripts/tests/browser/package-lock.json
  scripts/tests/browser/package.json
  scripts/tests/browser/src/load.ts
  scripts/tests/browser/src/refresh.ts
  scripts/tests/browser/src/shared.ts
  scripts/tests/browser/tsconfig.json
  scripts/tests/direct-browser-relay-restart.sh
  scripts/tests/lib.sh
  scripts/tests/relayed-browser-relay-restart.sh
Labels: kind/chore

#4703 chore(website): revert split-horizon DNS terming
  website/src/app/kb/architecture/critical-sequences/readme.mdx
  website/src/app/pricing/plan_table.tsx
Labels: kind/chore

#4724 docs: Adjust format size based on screen size
  website/src/app/docs/layout.tsx
  website/src/app/kb/layout.tsx
  website/src/components/Blog/Post/index.tsx
Labels: kind/docs

#4725 docs: Add user/group limit info to Entra connector
  website/src/app/kb/authenticate/entra/readme.mdx
Labels: kind/docs

#4721 chore(ip-packet): address PR feedback
  rust/connlib/tunnel/src/dns.rs
  rust/ip-packet/src/lib.rs
Labels: kind/chore

#4735 docs: Fix a few typos / wording issues
  website/src/app/kb/architecture/tech-stack/readme.mdx
  website/src/app/kb/use-cases/readme.mdx
Labels: kind/docs

#4720 chore(snownet): free memory of allocation without valid credentials
  rust/connlib/snownet/src/allocation.rs
  rust/connlib/snownet/src/node.rs
Labels: kind/chore

#4744 feat(website): Add battlecard to landing page
  website/src/app/page.tsx
  website/src/components/BattleCard/index.tsx
Labels: kind/feature

#4747 fix(portal): Hide API clients sidebar link in UI when feature disabled
  elixir/apps/domain/priv/repo/seeds.exs
  elixir/apps/domain/test/support/fixtures/accounts.ex
  elixir/apps/web/lib/web/components/layouts/app.html.heex
  elixir/apps/web/test/web/live/settings/api_clients/index_test.exs
Labels: kind/bug

#4750 fix(snownet): properly handle dual-stack relays
  rust/connlib/snownet/src/allocation.rs
  rust/connlib/snownet/src/channel_data.rs
  rust/connlib/snownet/src/lib.rs
  rust/connlib/snownet/src/node.rs
  rust/connlib/snownet/tests/lib.rs
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/lib.rs
  rust/connlib/tunnel/src/sockets.rs
  rust/connlib/tunnel/src/utils.rs
  rust/snownet-tests/src/main.rs
Labels: kind/bug, kind/feature

#4755 fix(snownet): invalidate host candidates on reconnect
  rust/Cargo.lock
  rust/connlib/snownet/src/allocation.rs
  rust/connlib/snownet/src/node.rs
Labels: kind/bug

#4760 chore(connlib): forward panics containing an owned string
  rust/connlib/clients/shared/src/lib.rs
Labels: kind/chore

#4683 fix(linux-client): forbid passing the token as a CLI arg
  rust/Cargo.lock
  rust/gui-client/src-tauri/src/bin/firezone-client-tunnel.rs
  rust/headless-client/Cargo.toml
  rust/headless-client/src/imp_linux.rs
  rust/headless-client/src/lib.rs
  rust/headless-client/src/main.rs
  rust/linux-client/Cargo.toml
  rust/linux-client/src/main.rs
  scripts/tests/token-path.sh
  website/src/app/kb/user-guides/linux-client/readme.mdx
Labels: kind/bug

#4746 refactor: Make published artifact names consistent and use permalinks
  .github/workflows/_build_artifacts.yml
  .github/workflows/_tauri.yml
  rust/gui-client/src-tauri/src/client/debug_commands.rs
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/updates.rs
  scripts/Makefile
  scripts/build/tauri-rename-windows.sh
  scripts/build/tauri-upload-windows.sh
  scripts/gateway-systemd-install.sh
  website/next.config.mjs
  website/redirects.js
  website/src/app/blog/mar-2024-update/readme.mdx
  website/src/app/kb/user-guides/linux-client/readme.mdx
  website/src/app/kb/user-guides/windows-client/readme.mdx
Labels: kind/refactor, area/tauri_client

#4762 docs: Fix ambiguity in saas access use case prereqs
  website/src/app/kb/use-cases/saas-app-access/readme.mdx
Labels: kind/docs

#4774 fix(website): fix linux client link
  website/src/app/kb/user-guides/linux-client/readme.mdx
Labels: kind/bug

#4771 feat(portal): Add legal_name field to accounts and sync it with new stripe metadata key
  elixir/apps/domain/lib/domain/accounts/account.ex
  elixir/apps/domain/lib/domain/accounts/account/changeset.ex
  elixir/apps/domain/lib/domain/billing.ex
  elixir/apps/domain/lib/domain/billing/event_handler.ex
  elixir/apps/domain/lib/domain/billing/stripe/api_client.ex
  elixir/apps/domain/priv/repo/migrations/20240424175929_add_accounts_legal_name.exs
  elixir/apps/domain/test/domain/billing_test.exs
  elixir/apps/domain/test/support/fixtures/accounts.ex
  elixir/apps/web/lib/web/live/settings/billing.ex
Labels: kind/feature

#4775 feat(portal): Allow creating resources from Resources page
  elixir/apps/domain/test/domain/jobs/executors/concurrent_test.exs
  elixir/apps/web/lib/web/live/resources/components.ex
  elixir/apps/web/lib/web/live/resources/edit.ex
  elixir/apps/web/lib/web/live/resources/index.ex
  elixir/apps/web/lib/web/live/resources/new.ex
  elixir/apps/web/test/web/live/resources/index_test.exs
  elixir/apps/web/test/web/live/resources/new_test.exs
  elixir/mix.lock
Labels: kind/feature

#4766 fix(windows-client): allow sign out while connlib is raising the tunnel
  rust/gui-client/src-tauri/src/client/gui.rs
Labels: kind/bug, area/windows_client

#4783 chore(gateway): Handle edge cases where gateway binary couldn't be downloaded
  scripts/gateway-systemd-install.sh
Labels: kind/chore

#4785 fix(headless-client): clean up and exit gracefully when `on_disconnect` called
  rust/connlib/shared/src/linux/etc_resolv_conf.rs
  rust/connlib/tunnel/src/device_channel/tun_linux.rs
  rust/headless-client/src/imp_linux.rs
Labels: kind/bug, area/linux_client

#4714 refactor(linux-client): remove FIREZONE_ID from example systemd file
  rust/connlib/tunnel/src/device_channel/tun_linux.rs
  rust/headless-client/src/imp_linux.rs
  scripts/tests/linux-group.sh
  scripts/tests/systemd/dns-systemd-resolved.sh
  scripts/tests/systemd/firezone-client-headless.service
  scripts/tests/systemd/firezone-client-ipc.service
Labels: kind/refactor

#4778 fix(portal): Fix traffic filtering to send port-less rules
  elixir/apps/api/lib/api/gateway/views/resource.ex
  elixir/apps/api/test/api/gateway/channel_test.exs
  elixir/apps/domain/test/domain/resources_test.exs
  elixir/apps/domain/test/support/fixtures/resources.ex
Labels: kind/bug

#4795 fix(portal): Update site deletion modal message
  elixir/apps/web/lib/web/live/sites/show.ex
Labels: kind/bug

#4798 refactor: Remove multiqueue flag for tun on Linux
  rust/connlib/tunnel/src/device_channel/tun_linux.rs
Labels: kind/refactor

#4788 chore(gui-client): proof of concept for process splitting
  rust/Cargo.lock
  rust/connlib/tunnel/src/device_channel.rs
  rust/gui-client/src-tauri/Cargo.toml
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/resolvers.rs
  rust/gui-client/src-tauri/src/client/tunnel-wrapper/in_proc.rs
  rust/gui-client/src-tauri/src/client/tunnel-wrapper/ipc.rs
  rust/headless-client/Cargo.toml
  rust/headless-client/src/imp_linux.rs
  rust/headless-client/src/imp_windows.rs
  rust/headless-client/src/lib.rs
Labels: area/linux_client, kind/chore, area/tauri_client

#4773 chore(connlib): make peer pure by taking utc time from parameters
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/lib.rs
  rust/connlib/tunnel/src/peer.rs
  rust/connlib/tunnel/src/tests.rs
Labels: kind/chore

#4752 refactor(linux-client): package systemd unit for IPC service
  .github/workflows/_tauri.yml
  rust/gui-client/src-tauri/firezone-client-ipc.service
  rust/gui-client/src-tauri/src/bin/firezone-client-ipc.rs
  rust/gui-client/src-tauri/src/bin/firezone-client-tunnel.rs
  rust/gui-client/src-tauri/tauri.conf.json
  rust/gui-client/src-tauri/tauri.windows.conf.json
  rust/headless-client/src/imp_linux.rs
  rust/headless-client/src/imp_windows.rs
  scripts/build/tauri-rename-ubuntu.sh
  scripts/build/tauri-rename-windows.sh
Labels: kind/refactor

#4802 chore(gui-client/linux): fix DNS
  rust/gui-client/src-tauri/src/client/resolvers.rs
  rust/headless-client/src/imp_linux.rs
Labels: kind/chore

#4806 fix(snownet): don't nominate discarded candidates
  rust/Cargo.lock
Labels: kind/bug

#4803 chore(gui-client/linux): fix notifications
  rust/Cargo.lock
  rust/gui-client/src-tauri/Cargo.toml
  rust/gui-client/src-tauri/src/client/gui/os_linux.rs
  rust/gui-client/src-tauri/src/client/gui/os_macos.rs
Labels: area/linux_client, kind/chore, area/tauri_client

#4805 docs: Update egress table to include www.firezone.dev
  website/src/app/kb/deploy/gateways/readme.mdx
Labels: kind/docs

#4754 chore(gui-client): use new download links
  rust/gui-client/src-tauri/src/client/debug_commands.rs
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/updates.rs
Labels: kind/chore

#4820 chore(linux GUI): enable update notifications
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/gui/os_linux.rs
  rust/gui-client/src-tauri/src/client/gui/os_windows.rs
Labels: area/linux_client, kind/chore, area/tauri_client

#4821 chore(website): Bump versions
  .github/workflows/_build_artifacts.yml
  .github/workflows/_deploy_production.yml
  .github/workflows/_tauri.yml
  .github/workflows/_terraform.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  elixir/VERSION
  kotlin/android/app/build.gradle.kts
  rust/Cargo.lock
  rust/connlib/clients/android/Cargo.toml
  rust/connlib/clients/apple/Cargo.toml
  rust/connlib/clients/shared/Cargo.toml
  rust/connlib/shared/Cargo.toml
  rust/connlib/snownet/Cargo.toml
  rust/connlib/tunnel/Cargo.toml
  rust/firezone-cli-utils/Cargo.toml
  rust/gateway/Cargo.toml
  rust/gui-client/src-tauri/Cargo.toml
  rust/headless-client/Cargo.toml
  rust/http-health-check/Cargo.toml
  rust/http-test-server/Cargo.toml
  rust/ip-packet/Cargo.toml
  rust/linux-client/Cargo.toml
  rust/phoenix-channel/Cargo.toml
  rust/relay/Cargo.toml
  rust/snownet-tests/Cargo.toml
  scripts/Makefile
  swift/apple/Firezone.xcodeproj/project.pbxproj
  website/redirects.js
Labels: kind/chore

#4823 chore(gui-client/linux): have systemd direct our connlib logs to `/var/log/dev.firezone.client`
  rust/gui-client/src-tauri/firezone-client-ipc.service
Labels: kind/chore

#4837 fix(connlib): remove ice candidate on invalidate candidate message
  rust/connlib/clients/shared/src/eventloop.rs
Labels: kind/bug

#4840 chore(ci): bump versions
  .github/workflows/_build_artifacts.yml
  .github/workflows/_deploy_production.yml
  .github/workflows/_tauri.yml
  .github/workflows/_terraform.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  elixir/VERSION
  kotlin/android/app/build.gradle.kts
  rust/Cargo.lock
  rust/connlib/clients/android/Cargo.toml
  rust/connlib/clients/apple/Cargo.toml
  rust/connlib/clients/shared/Cargo.toml
  rust/connlib/shared/Cargo.toml
  rust/connlib/snownet/Cargo.toml
  rust/connlib/tunnel/Cargo.toml
  rust/firezone-cli-utils/Cargo.toml
  rust/gateway/Cargo.toml
  rust/gui-client/src-tauri/Cargo.toml
  rust/headless-client/Cargo.toml
  rust/http-health-check/Cargo.toml
  rust/http-test-server/Cargo.toml
  rust/ip-packet/Cargo.toml
  rust/linux-client/Cargo.toml
  rust/phoenix-channel/Cargo.toml
  rust/relay/Cargo.toml
  rust/snownet-tests/Cargo.toml
  scripts/Makefile
  swift/apple/Firezone.xcodeproj/project.pbxproj
  website/redirects.js
Labels: kind/chore
