Repository firezone/firezone, pull requests merged in 2024-03, with the labels that each got.

#3824 build(connlib): suppress `clippy::unnecessary_cast` lint on aarch64 Linux
  rust/connlib/shared/src/lib.rs
Labels: area/connlib, complexity/low

#3823 chore(asdf-vm): add shellcheck version
  .tool-versions
Labels: kind/chore, complexity/low

#3868 fix(tauri clients): apply auth base URL and API URL settings without app restart
  rust/gui-client/README.md
  rust/gui-client/docs/intended_behavior.md
  rust/gui-client/docs/security.md
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/settings.rs
Labels: kind/bug, area/windows_client, complexity/low, area/tauri_client

#3753 test(gui-client): fix missed mutations
  rust/gui-client/src-tauri/src/client/about.rs
  rust/gui-client/src-tauri/src/client/auth.rs
  rust/gui-client/src-tauri/src/client/deep_link/windows.rs
  rust/gui-client/src-tauri/src/client/known_dirs.rs
Labels: area/ci, area/windows_client

#3912 refactor: correct event name, should be ShowWindow not ToggleWindow after…
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/gui/system_tray_menu.rs
Labels: kind/refactor, complexity/low, area/tauri_client

#3913 chore(gui-client): log uptime and run ID when a window is shown
  rust/gui-client/src-tauri/src/client.rs
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/uptime.rs
Labels: kind/chore, complexity/low, area/tauri_client

#3889 test(windows): run the smoke test twice to shake out issues in the script
  scripts/tests/smoke-test-gui-windows.sh
Labels: area/windows_client, complexity/low

#3919 chore(windows client): update `windows` and `windows-implement` deps
  .github/dependabot.yml
  rust/Cargo.lock
  rust/connlib/shared/Cargo.toml
  rust/connlib/tunnel/Cargo.toml
  rust/connlib/tunnel/src/device_channel/tun_windows.rs
  rust/gui-client/src-tauri/Cargo.toml
  rust/gui-client/src-tauri/src/client/network_changes/windows.rs
Labels: kind/chore, complexity/medium

#4075 chore: fix the warning about Tauri notifications
  rust/gui-client/src-tauri/src/client/gui/os_windows.rs
Labels: area/windows_client

#4128 fix(portal): Increase group name max length
  elixir/apps/domain/lib/domain/actors/group/changeset.ex
  elixir/apps/domain/test/domain/actors_test.exs
  elixir/apps/web/test/web/live/groups/edit_test.exs
  elixir/apps/web/test/web/live/groups/new_test.exs
Labels: area/portal

#4130 chore(windows): document Windows network_changes behavior
  rust/gui-client/src-tauri/Cargo.toml
  rust/gui-client/src-tauri/src/client/debug_commands.rs
  rust/gui-client/src-tauri/src/client/network_changes.rs
  rust/gui-client/src-tauri/src/client/network_changes/linux.rs
  rust/gui-client/src-tauri/src/client/network_changes/macos.rs
  rust/gui-client/src-tauri/src/client/network_changes/windows.rs
Labels: area/windows_client, kind/chore

#4146 chore(gui-client): fix macOS clippy warning, clean up error types
  rust/gui-client/src-tauri/src/client/deep_link.rs
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/gui/os_windows.rs
Labels: kind/chore, area/tauri_client

#4151 ci(linux): fix incorrect use of `grep -v`
  scripts/tests/dns-etc-resolvconf.sh
Labels: area/ci

#4153 chore: propose process splitting for Linux
  rust/gui-client/docs/process_split.md
Labels: area/linux_client, kind/chore, area/tauri_client

#4148 chore(linux): revert `/etc/resolv.conf` on exit if we changed it to control DNS
  rust/Cargo.lock
  rust/connlib/shared/Cargo.toml
  rust/connlib/shared/src/error.rs
  rust/connlib/shared/src/linux/etc_resolv_conf.rs
  rust/connlib/tunnel/src/device_channel/tun_linux.rs
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/resolvers.rs
  rust/linux-client/src/main.rs
Labels: area/linux_client

#4197 chore(portal): Re-enable Finch as API client for Swoosh
  elixir/apps/web/mix.exs
  elixir/config/config.exs
  elixir/mix.lock
Labels: area/portal

#3770 ci(tauri-client): try to enable smoke tests for Ubuntu 22.04
  .github/workflows/_rust.yml
  rust/gui-client/src-tauri/src/client/gui.rs
Labels: area/tauri_client

#4216 build(gui-client): disable AppImage bundling
  .github/workflows/_tauri.yml
  rust/gui-client/README.md
  rust/gui-client/src-tauri/src/client/updates.rs
  rust/gui-client/src-tauri/tauri.conf.json
  scripts/build/tauri-rename-ubuntu.sh
  scripts/build/tauri-upload-ubuntu.sh
Labels: area/ci, area/tauri_client

#4217 build(gui-client/linux): make sure debug symbols get uploaded for the Linux GUI client
  .github/workflows/_tauri.yml
  rust/Cargo.toml
  scripts/build/tauri-rename-ubuntu.sh
  scripts/tests/smoke-test-gui-linux.sh
  scripts/tests/smoke-test-gui-windows.sh
Labels: area/ci, area/tauri_client

#4220 build(gui-client/linux): include an empty `firezone-tunnel` binary with the Tauri deb package
  .github/workflows/_tauri.yml
  rust/gui-client/src-tauri/Cargo.toml
  rust/gui-client/src-tauri/src/bin/firezone-tunnel.rs
  scripts/build/tauri-rename-ubuntu.sh
  scripts/build/tauri-rename-windows.sh
  scripts/tests/smoke-test-gui-windows.sh
Labels: area/ci, area/tauri_client

#4227 refactor(windows): fix cancellation-safety when listening for network events
  rust/gui-client/src-tauri/Cargo.toml
  rust/gui-client/src-tauri/src/client/network_changes/windows.rs
Labels: area/windows_client

#4234 chore(gui-client): remove unused env var
  scripts/tests/smoke-test-gui-linux.sh
Labels: kind/chore, complexity/low, area/tauri_client

#4233 chore(gui-client): set `author` key in the Cargo.toml manifest
  rust/gui-client/src-tauri/Cargo.toml
Labels: kind/chore, complexity/low, area/tauri_client

#4238 refactor(gui-client): reduce scope of a `Notify`
  rust/gui-client/src-tauri/src/client/gui.rs
Labels: kind/refactor, complexity/low, area/tauri_client

#4229 chore: add crate for privileged Linux tunnel process
  rust/Cargo.lock
  rust/Cargo.toml
  rust/client-tunnel/Cargo.toml
  rust/client-tunnel/README.md
  rust/client-tunnel/src/lib.rs
  rust/client-tunnel/src/main.rs
  rust/gui-client/src-tauri/Cargo.toml
  rust/gui-client/src-tauri/src/bin/firezone-client-tunnel.rs
  rust/gui-client/src-tauri/src/bin/firezone-tunnel.rs
  scripts/build/tauri-rename-ubuntu.sh
Labels: area/linux_client, kind/chore, area/tauri_client

#4232 refactor(gui-client): refuse to ever be elevated on Linux
  rust/connlib/shared/src/device_id.rs
  rust/gui-client/src-tauri/src/client.rs
  rust/gui-client/src-tauri/src/client/elevation.rs
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/gui/os_linux.rs
  scripts/tests/smoke-test-gui-linux.sh
Labels: kind/refactor, area/tauri_client

#4251 ci(windows): publish Windows Client MSI
  .github/workflows/_tauri.yml
Labels: area/ci, area/windows_client, complexity/low

#4258 ci(gui-client): hide the Linux GUI deb since it's not ready yet
  scripts/build/tauri-upload-ubuntu.sh
  scripts/build/tauri-upload-windows.sh
Labels: area/ci, area/tauri_client

#4198 feat(windows): listen for DNS change events
  rust/gui-client/src-tauri/Cargo.toml
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/network_changes.rs
  rust/gui-client/src-tauri/src/client/network_changes/linux.rs
  rust/gui-client/src-tauri/src/client/network_changes/macos.rs
  rust/gui-client/src-tauri/src/client/network_changes/windows.rs
  rust/gui-client/src-tauri/src/client/resolvers.rs
Labels: kind/feature, area/windows_client, area/tauri_client

#4269 chore(gui-client): update process split doc
  rust/gui-client/docs/process_split.md
Labels: kind/chore, complexity/low, area/tauri_client

#4326 chore(windows-client): change "About" to "About Firezone" to match macOS Client
  rust/gui-client/src-tauri/src/client/gui/system_tray_menu.rs
Labels: kind/refactor, area/windows_client, kind/chore

#4328 feat(linux-client): load token from `/etc/dev.firezone.client` ...
  rust/Cargo.lock
  rust/linux-client/Cargo.toml
  rust/linux-client/src/main.rs
Labels: kind/feature, area/linux_client, complexity/low

#4353 fix(apple client): sign in crash, closes #4350
  rust/connlib/clients/android/src/lib.rs
  rust/connlib/clients/apple/src/lib.rs
  swift/apple/FirezoneNetworkExtension/Adapter.swift
  swift/apple/FirezoneNetworkExtension/SystemConfigurationResolvers.swift
Labels: area/apple_client

#4340 chore(phoenix-channel): remove stray `dbg`
  rust/phoenix-channel/src/heartbeat.rs
Labels: area/connlib, kind/chore, complexity/low

#4253 chore(firezone-tunnel): allow `cargo-mutants` to see Tun impls
  rust/connlib/tunnel/src/device_channel.rs
  rust/connlib/tunnel/src/device_channel/tun_android.rs
  rust/connlib/tunnel/src/device_channel/tun_darwin.rs
  rust/connlib/tunnel/src/device_channel/tun_linux.rs
  rust/connlib/tunnel/src/device_channel/utils.rs
Labels: kind/chore

#4254 test(firezone-tunnel): create a tunnel device in unit tests during CI
  .github/workflows/_rust.yml
  rust/connlib/clients/shared/src/lib.rs
Labels: area/ci, area/connlib
