Repository firezone/firezone, pull requests merged in 2024-05, with the labels that each got.

#4832 refactor(gui-client/linux): use the same systemd service file in CI as in production
  rust/gui-client/src-tauri/firezone-client-ipc.service
  scripts/tests/linux-group.sh
  scripts/tests/systemd/env
  scripts/tests/systemd/firezone-client-ipc.service
Labels: area/ci, kind/refactor, area/tauri_client

#4864 chore(deps): Bump flowbite-react
  website/package.json
  website/pnpm-lock.yaml
  website/src/app/kb/administer/upgrading/readme.mdx
  website/src/components/DocsSidebar/SearchForm.tsx
  website/src/components/KbSidebar/SearchForm.tsx
  website/tailwind.config.js
Labels: kind/chore

#4869 chore(firezone-tunnel): Remove unused `SIOCGIFMTU` in tun_android
  rust/connlib/tunnel/src/device_channel/tun_android.rs
Labels: kind/chore

#4825 chore(linux-client): make headless client / IPC service logs group-readable
  rust/connlib/clients/shared/src/file_logger.rs
  rust/gui-client/src-tauri/firezone-client-ipc.service
  rust/headless-client/src/imp_linux.rs
Labels: area/linux_client, kind/chore, area/tauri_client

#4839 refactor(infra): Install gateways without using Docker
  .github/workflows/_build_artifacts.yml
  .github/workflows/publish.yml
  scripts/gateway-systemd-install.sh
  terraform/environments/production/.terraform.lock.hcl
  terraform/environments/production/gateways.tf
  terraform/environments/production/main.tf
  terraform/environments/staging/.terraform.lock.hcl
  terraform/environments/staging/ci.tf
  terraform/environments/staging/demo.tf
  terraform/modules/google-cloud/apps/gateway-region-instance-group/main.tf
  terraform/modules/google-cloud/apps/gateway-region-instance-group/templates/cloud-init.yaml
  terraform/modules/google-cloud/apps/gateway-region-instance-group/variables.tf
  terraform/modules/google-cloud/apps/vm/iam.tf
  terraform/modules/google-cloud/apps/vm/main.tf
  terraform/modules/google-cloud/apps/vm/outputs.tf
  terraform/modules/google-cloud/apps/vm/services.tf
  terraform/modules/google-cloud/apps/vm/variables.tf
Labels: kind/refactor

#4836 chore(gui-client): cleanup
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/logging.rs
  rust/gui-client/src-tauri/src/client/tunnel-wrapper/in_proc.rs
  rust/gui-client/src-tauri/src/client/tunnel-wrapper/ipc.rs
Labels: kind/chore

#4875 chore(gui-client/linux): poll for DNS changes every 5 seconds
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/network_changes/linux.rs
  rust/gui-client/src-tauri/src/client/network_changes/windows.rs
Labels: kind/chore, area/tauri_client

#4879 chore(gui-client/linux): add install script and change group to `firezone-client`
  rust/gui-client/src-tauri/deb_files/firezone-client-ipc.service
  rust/gui-client/src-tauri/deb_files/sysusers.conf
  rust/gui-client/src-tauri/tauri.conf.json
  scripts/README.md
  scripts/build/tauri-rename-ubuntu.sh
  scripts/firezone-client-gui-install.sh
  scripts/tests/linux-group.sh
Labels: kind/chore, area/tauri_client

#4881 chore(gui-client/linux): fix deep links on Ubuntu 22.04
  rust/gui-client/src-tauri/src/client/deep_link/linux.rs
Labels: kind/chore, area/tauri_client

#4882 chore(gui-client/linux): add smoke test checklist
  rust/gui-client/docs/intended_behavior.md
  scripts/firezone-client-gui-install.sh
Labels: kind/chore, area/tauri_client

#4822 chore(gui-client/linux): show an error if the user doesn't belong to the `firezone` group
  rust/Cargo.lock
  rust/gui-client/src-tauri/Cargo.toml
  rust/gui-client/src-tauri/src/client.rs
  rust/gui-client/src-tauri/src/client/elevation.rs
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/main.rs
  rust/headless-client/src/imp_linux.rs
  scripts/tests/smoke-test-gui-linux.sh
Labels: kind/chore

#4830 chore(gui-client/linux): export all logs, not just app logs
  rust/gui-client/src-tauri/deb_files/firezone-client-ipc.service
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/logging.rs
  rust/gui-client/src/settings.ts
Labels: kind/chore, area/tauri_client

#4886 chore(connlib): remove unused parking_lot
  rust/Cargo.lock
  rust/connlib/clients/shared/Cargo.toml
Labels: kind/chore

#4835 fix(Android): add alert dialog for errors in auth flow
  kotlin/android/app/src/main/java/dev/firezone/android/features/customuri/notifications/CustomUriNotification.kt
  kotlin/android/app/src/main/java/dev/firezone/android/features/customuri/ui/CustomUriHandlerActivity.kt
  kotlin/android/app/src/main/java/dev/firezone/android/features/customuri/ui/CustomUriViewModel.kt
Labels: kind/bug

#4889 chore(gui-client/linux): fix group name, `firezone` should be `firezone-client`
  rust/gui-client/docs/intended_behavior.md
  rust/gui-client/src-tauri/src/client.rs
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/headless-client/src/imp_linux.rs
  rust/headless-client/src/lib.rs
  scripts/tests/smoke-test-gui-linux.sh
Labels: kind/chore, area/tauri_client

#4890 chore(gui-client/linux): fix single-instance
  rust/gui-client/src-tauri/src/client/deep_link/linux.rs
Labels: kind/chore, area/tauri_client

#4897 docs: Fix typos, add section to client architecture
  website/src/app/kb/architecture/critical-sequences/readme.mdx
  website/src/app/kb/architecture/tech-stack/readme.mdx
  website/src/components/Footer/index.tsx
Labels: kind/docs

#4748 chore(docker): local dev docker-compose
  rust/docker-compose-dev.yml
Labels: kind/chore

#4876 ci(gui-client/linux): publish deb package in the release
  scripts/build/tauri-upload-ubuntu.sh
Labels: area/ci, area/tauri_client

#4779 feat(connlib): traffic filtering
  rust/Cargo.lock
  rust/connlib/clients/shared/src/lib.rs
  rust/connlib/clients/shared/src/messages.rs
  rust/connlib/shared/src/callbacks.rs
  rust/connlib/shared/src/messages.rs
  rust/connlib/shared/src/messages/client.rs
  rust/connlib/shared/src/messages/gateway.rs
  rust/connlib/shared/src/proptest.rs
  rust/connlib/tunnel/Cargo.toml
  rust/connlib/tunnel/proptest-regressions/peer.txt
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/dns.rs
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/peer.rs
  rust/connlib/tunnel/src/tests.rs
  rust/connlib/tunnel/src/utils.rs
  rust/gateway/src/messages.rs
  rust/ip-packet/src/lib.rs
  rust/ip-packet/src/make.rs
Labels: kind/feature

#4902 chore(website): Hide banner
  website/src/components/RootLayout/index.tsx
Labels: kind/chore

#4900 chore(connlib): pass to client new fields
  rust/connlib/clients/shared/src/messages.rs
  rust/connlib/shared/src/messages.rs
  rust/connlib/shared/src/messages/client.rs
  rust/connlib/shared/src/proptest.rs
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/dns.rs
Labels: kind/chore

#4910 fix(connlib): resource filter deserialization
  rust/connlib/shared/src/messages/gateway.rs
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/peer.rs
  rust/gateway/src/eventloop.rs
  rust/gateway/src/messages.rs
Labels: kind/bug

#4911 fix(connlib): filters for resoruces with multiple ips
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/peer.rs
Labels: kind/bug

#4914 fix(connlib): add_resource multiple times with same resource id
  rust/connlib/tunnel/src/peer.rs
Labels: kind/bug

#4916 docs: Mention traffic restrictions in Resource docs, pricing page
  website/src/app/kb/deploy/resources/readme.mdx
  website/src/app/pricing/_page.tsx
  website/src/app/pricing/plan_table.tsx
Labels: kind/docs

#4828 feat(blog): How DNS works in Firezone
  website/pnpm-lock.yaml
  website/public/images/blog/how-dns-works-in-firezone/arpanet-logical-map.png
  website/public/images/blog/how-dns-works-in-firezone/collateral-damage.svg
  website/public/images/blog/how-dns-works-in-firezone/dns-based-traffic-routing.svg
  website/public/images/blog/how-dns-works-in-firezone/dns-interception-nat-gateway.svg
  website/public/images/blog/how-dns-works-in-firezone/dns.svg
  website/public/images/blog/how-dns-works-in-firezone/ip-allowlist.svg
  website/public/images/blog/how-dns-works-in-firezone/split-dns.svg
  website/src/app/blog/_history-of-dns/readme.mdx
  website/src/app/blog/how-dns-works-in-firezone/_page.tsx
  website/src/app/blog/how-dns-works-in-firezone/page.tsx
  website/src/app/blog/how-dns-works-in-firezone/readme.mdx
  website/src/app/blog/page.tsx
  website/src/app/docs/layout.tsx
  website/src/app/kb/layout.tsx
  website/src/components/Blog/Post/index.tsx
  website/src/components/Blog/SummaryCard/index.tsx
  website/tailwind.config.js
Labels: kind/feature

#4923 chore(website): add user count to feature cards
  website/src/app/pricing/_page.tsx
Labels: kind/chore

#4915 fix(portal): Ensure site can be changed when multi-site is false
  elixir/apps/web/lib/web/live/resources/components.ex
  elixir/apps/web/test/web/live/resources/edit_test.exs
  elixir/apps/web/test/web/live/resources/new_test.exs
Labels: kind/bug

#4908 refactor(gui-client): move `known_dirs` module into `headless-client`
  rust/Cargo.lock
  rust/gui-client/src-tauri/Cargo.toml
  rust/gui-client/src-tauri/src/client.rs
  rust/gui-client/src-tauri/src/client/auth.rs
  rust/gui-client/src-tauri/src/client/crash_handling.rs
  rust/gui-client/src-tauri/src/client/deep_link/linux.rs
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/logging.rs
  rust/gui-client/src-tauri/src/client/settings.rs
  rust/headless-client/Cargo.toml
  rust/headless-client/src/known_dirs.rs
  rust/headless-client/src/lib.rs
Labels: kind/refactor, area/tauri_client

#4924 chore: Bump versions to link 1.0.3 packages
  .github/workflows/_build_artifacts.yml
  .github/workflows/_deploy_production.yml
  .github/workflows/_tauri.yml
  .github/workflows/_terraform.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  elixir/VERSION
  rust/Cargo.lock
  rust/connlib/clients/android/Cargo.toml
  rust/connlib/clients/apple/Cargo.toml
  rust/connlib/clients/shared/Cargo.toml
  rust/connlib/shared/Cargo.toml
  rust/connlib/snownet/Cargo.toml
  rust/connlib/tunnel/Cargo.toml
  rust/firezone-cli-utils/Cargo.toml
  rust/gateway/Cargo.toml
  rust/gui-client/src-tauri/Cargo.toml
  rust/headless-client/Cargo.toml
  rust/http-health-check/Cargo.toml
  rust/http-test-server/Cargo.toml
  rust/ip-packet/Cargo.toml
  rust/linux-client/Cargo.toml
  rust/phoenix-channel/Cargo.toml
  rust/relay/Cargo.toml
  rust/snownet-tests/Cargo.toml
  scripts/Makefile
  website/public/images/blog/may-2024-update/traffic-restriction.png
  website/redirects.js
  website/src/app/blog/may-2024-update/_page.tsx
  website/src/app/blog/may-2024-update/page.tsx
  website/src/app/blog/may-2024-update/readme.mdx
Labels: kind/chore

#4926 chore(ci): add debugging for that flaky DNS test
  scripts/tests/systemd/dns-systemd-resolved.sh
Labels: area/ci, kind/chore

#4934 chore(ci): fix `debug_exit` in the flaky systemd DNS test
  scripts/tests/systemd/dns-systemd-resolved.sh
Labels: area/ci, kind/chore

#4936 feat(blog): May 2024 update
  website/public/images/blog/may-2024-update/hero.webp
  website/public/images/blog/may-2024-update/traffic-restrictions.png
  website/src/app/blog/may-2024-update/readme.mdx
  website/src/app/blog/page.tsx
  website/src/app/kb/architecture/critical-sequences/readme.mdx
  website/src/app/kb/deploy/resources/readme.mdx
  website/src/app/kb/use-cases/postgres-access/readme.mdx
  website/src/app/kb/use-cases/saas-app-access/readme.mdx
  website/src/app/kb/use-cases/web-app-access/readme.mdx
Labels: kind/feature

#4944 chore: remove filters section from may update
  website/src/app/blog/may-2024-update/readme.mdx
Labels: kind/chore

#4945 fix(portal): Reduce button sizes in live_table to xs
  elixir/apps/web/lib/web/components/form_components.ex
  elixir/apps/web/lib/web/components/table_components.ex
  elixir/apps/web/lib/web/live/actors/groups.ex
  elixir/apps/web/lib/web/live/actors/show.ex
  elixir/apps/web/lib/web/live/groups/edit_actors.ex
  elixir/apps/web/lib/web/live/settings/api_clients/show.ex
Labels: kind/bug

#4946 fix(portal): don't confirm group selections if there aren't changes
  elixir/apps/web/lib/web/live/actors/groups.ex
  elixir/apps/web/lib/web/live/groups/edit_actors.ex
Labels: kind/bug

#4933 refactor(headless-client): remove "linux-client" alias
  .github/workflows/_build_artifacts.yml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/headless-client/README.md
  rust/linux-client/Cargo.toml
  rust/linux-client/README.md
  rust/linux-client/src/main.rs
  scripts/tests/direct-download-roaming-network.sh
  scripts/tests/systemd/dns-systemd-resolved.sh
  scripts/tests/systemd/firezone-client-headless.service
  terraform/modules/google-cloud/apps/client-monitor/templates/cloud-init.yaml
  website/src/app/kb/user-guides/linux-client/readme.mdx
Labels: kind/refactor, area/linux_client

#4928 ci: fix issue with artifact names
  .github/workflows/publish.yml
Labels: area/ci

#4947 fix(portal): Add provider icon to identity/group badges
  elixir/apps/domain/priv/repo/seeds.exs
  elixir/apps/web/lib/web/components/core_components.ex
  elixir/apps/web/lib/web/live/actors/index.ex
  elixir/apps/web/lib/web/live/groups/show.ex
  elixir/apps/web/lib/web/live/policies/index.ex
  elixir/apps/web/lib/web/live/settings/identity_providers/openid_connect/show.ex
  elixir/apps/web/test/web/live/actors/show_test.exs
  elixir/apps/web/test/web/live/groups/edit_actors_test.exs
Labels: kind/bug

#4949 chore(website): Gateway version mention
  website/src/app/blog/may-2024-update/readme.mdx
Labels: kind/chore

#4954 feat(website): update customer logos
  website/public/images/bunq-logo.png
  website/public/images/cust-logo-bunq.svg
  website/public/images/cust-logo-caktus.png
  website/public/images/cust-logo-corrdyn.svg
  website/public/images/cust-logo-double11.svg
  website/public/images/cust-logo-ipap.png
  website/public/images/cust-logo-mst.svg
  website/public/images/cust-logo-nomobo.webp
  website/public/images/cust-logo-seb.svg
  website/public/images/cust-logo-semicat.png
  website/public/images/cust-logo-square1.svg
  website/public/images/cust-logo-teracloud.svg
  website/public/images/cust-logo-wolfram.svg
  website/public/images/db11-logo.png
  website/public/images/rebank-logo.png
  website/public/images/square1-logo.png
  website/public/images/tribe-logo.png
  website/public/images/wolfram-logo.png
  website/src/app/page.tsx
  website/src/app/pricing/_page.tsx
  website/src/components/CustomerLogos/index.tsx
  website/src/components/SalesLeadForm/index.tsx
Labels: kind/feature

#4956 fix various issues
  website/next.config.mjs
  website/src/app/pricing/_page.tsx
  website/src/app/pricing/plan_table.tsx
  website/src/components/CustomerLogos/index.tsx
  website/src/components/RootNavbar/index.tsx
Labels: kind/bug

#4955 chore(portal): Strop triggering alerts on fluentbit logs
  terraform/modules/google-cloud/ops/main.tf
Labels: kind/chore

#4777 fix(portal): Fix edge cases with OIDC discovered in logs
  elixir/apps/api/lib/api/client/channel.ex
  elixir/apps/api/test/api/client/channel_test.exs
  elixir/apps/domain/lib/domain/auth/adapter/openid_connect/directory_sync.ex
  elixir/apps/domain/lib/domain/auth/adapter/openid_connect/refresh_tokens.ex
  elixir/apps/domain/lib/domain/auth/adapters/google_workspace/jobs/refresh_access_tokens.ex
  elixir/apps/domain/lib/domain/auth/adapters/google_workspace/jobs/sync_directory.ex
  elixir/apps/domain/lib/domain/auth/adapters/microsoft_entra/jobs/refresh_access_tokens.ex
  elixir/apps/domain/lib/domain/auth/adapters/microsoft_entra/jobs/sync_directory.ex
  elixir/apps/domain/lib/domain/auth/adapters/okta/jobs/refresh_access_tokens.ex
  elixir/apps/domain/lib/domain/auth/adapters/okta/jobs/sync_directory.ex
  elixir/apps/domain/lib/domain/auth/adapters/openid_connect.ex
  elixir/apps/domain/mix.exs
  elixir/mix.lock
  terraform/environments/production/relays.tf
  terraform/modules/google-cloud/ops/main.tf
Labels: kind/bug

#4957 refactor(website): Make Enterprise plan stand out a bit more
  website/src/app/pricing/_page.tsx
Labels: kind/refactor

#4961 docs: bring back legacy banner
  website/src/app/docs/layout.tsx
Labels: kind/docs

#4967 fix(website): Fix docs overflow and layout issues
  website/src/app/globals.css
  website/src/app/kb/layout.tsx
  website/src/components/Buttons/index.tsx
  website/src/components/RootNavbar/index.tsx
Labels: kind/bug

#4974 fix(gateway): Detect executables with 'ELF' string
  scripts/gateway-systemd-install.sh
Labels: kind/bug

#4903 chore(windows-client): proof of concept for installing a system service with WiX
  rust/Cargo.lock
  rust/gui-client/docs/intended_behavior.md
  rust/gui-client/src-tauri/tauri.conf.json
  rust/gui-client/src-tauri/win_files/main.wxs
  rust/gui-client/src-tauri/win_files/service.wxs
  rust/headless-client/Cargo.toml
  rust/headless-client/src/imp_linux.rs
  rust/headless-client/src/imp_windows.rs
  rust/headless-client/src/known_dirs.rs
  rust/headless-client/src/lib.rs
  scripts/build/tauri-rename-windows.sh
Labels: area/windows_client, kind/chore

#4962 ci: fix flaky dns-systemd test by waiting a second before running
  scripts/tests/systemd/dns-systemd-resolved.sh
Labels: area/ci

#4959 build(deps): bump chrono only
  rust/Cargo.lock
Labels: dependencies

#4918 fix(windows-client): clear Firezone-specific DNS rules at startup
  rust/headless-client/src/imp_windows.rs
Labels: kind/bug, area/windows_client, area/tauri_client

#4977 fix(portal): Verify email token identity
  elixir/apps/domain/lib/domain/auth/adapters/email.ex
  elixir/apps/domain/test/domain/auth/adapters/email_test.exs
  elixir/apps/domain/test/domain/auth_test.exs
  elixir/mix.exs
Labels: kind/bug

#4953 refactor(headless-client): deprecate subcommands for now
  docker-compose.yml
  rust/headless-client/src/lib.rs
  rust/headless-client/src/main.rs
Labels: kind/refactor

#4976 chore(ipc-service/linux): fix incorrect error message
  rust/headless-client/src/imp_linux.rs
Labels: kind/chore

#4980 docs: Fix typos in use cases
  website/src/app/kb/use-cases/secure-dns/readme.mdx
Labels: kind/docs

#4981 ci(windows): time out the WebView2 install after 5 minutes
  .github/workflows/_rust.yml
  .github/workflows/_tauri.yml
Labels: area/ci

#4985 chore: bump versions for 1.0.4 release
  .github/workflows/_build_artifacts.yml
  .github/workflows/_deploy_production.yml
  .github/workflows/_tauri.yml
  .github/workflows/_terraform.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  elixir/VERSION
  rust/Cargo.lock
  rust/connlib/clients/android/Cargo.toml
  rust/connlib/clients/apple/Cargo.toml
  rust/connlib/clients/shared/Cargo.toml
  rust/connlib/shared/Cargo.toml
  rust/connlib/snownet/Cargo.toml
  rust/connlib/tunnel/Cargo.toml
  rust/firezone-cli-utils/Cargo.toml
  rust/gateway/Cargo.toml
  rust/gui-client/src-tauri/Cargo.toml
  rust/headless-client/Cargo.toml
  rust/http-health-check/Cargo.toml
  rust/http-test-server/Cargo.toml
  rust/ip-packet/Cargo.toml
  rust/phoenix-channel/Cargo.toml
  rust/relay/Cargo.toml
  rust/snownet-tests/Cargo.toml
  scripts/Makefile
  website/redirects.js
Labels: kind/chore

#4983 chore(portal): Use redactor to reduce chances of accidentally logging secrets
  elixir/apps/domain/mix.exs
  elixir/config/prod.exs
  elixir/mix.lock
Labels: kind/chore

#4990 chore(windows): style the MSI installer
  rust/gui-client/src-tauri/tauri.conf.json
  rust/gui-client/src-tauri/win_files/banner.png
  rust/gui-client/src-tauri/win_files/install_dialog.png
Labels: area/windows_client, kind/UX

#4988 docs: Refactor SSO guides to make sync optional
  website/src/app/kb/authenticate/email/readme.mdx
  website/src/app/kb/authenticate/entra/readme.mdx
  website/src/app/kb/authenticate/google/readme.mdx
  website/src/app/kb/authenticate/okta/readme.mdx
  website/src/app/kb/authenticate/readme.mdx
  website/src/components/KbSidebar/Item.tsx
  website/src/components/KbSidebar/index.tsx
Labels: kind/docs

#4931 feat(connlib): report resource status to client
  rust/connlib/clients/android/src/lib.rs
  rust/connlib/clients/apple/src/lib.rs
  rust/connlib/clients/shared/src/eventloop.rs
  rust/connlib/clients/shared/src/lib.rs
  rust/connlib/clients/shared/src/messages.rs
  rust/connlib/shared/Cargo.toml
  rust/connlib/shared/src/callbacks.rs
  rust/connlib/shared/src/lib.rs
  rust/connlib/shared/src/messages.rs
  rust/connlib/shared/src/messages/client.rs
  rust/connlib/shared/src/proptest.rs
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/lib.rs
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/gui/system_tray_menu.rs
  rust/gui-client/src-tauri/src/client/tunnel-wrapper/in_proc.rs
  rust/gui-client/src-tauri/src/client/tunnel-wrapper/ipc.rs
  rust/headless-client/src/imp_linux.rs
  rust/headless-client/src/lib.rs
Labels: kind/feature

#4989 docs: Fix sidebar padding
  website/src/components/DocsSidebar/index.tsx
  website/src/components/KbSidebar/index.tsx
Labels: kind/docs

#4993 test: remove backwards compatibility code for older Docker images
  scripts/tests/direct-download-roaming-network.sh
  scripts/tests/systemd/dns-systemd-resolved.sh
Labels: kind/test

#4966 docs: Uninstall Gateway
  website/src/app/kb/administer/uninstall/_page.tsx
  website/src/app/kb/administer/uninstall/page.tsx
  website/src/app/kb/administer/uninstall/readme.mdx
  website/src/app/kb/administer/upgrading/readme.mdx
  website/src/components/KbSidebar/index.tsx
Labels: kind/docs

#5001 fix(portal): Dedicate 3/12 width for columns with IPs
  elixir/apps/web/lib/web/live/actors/show.ex
  elixir/apps/web/lib/web/live/clients/show.ex
  elixir/apps/web/lib/web/live/policies/show.ex
  elixir/apps/web/lib/web/live/resources/show.ex
  elixir/apps/web/test/web/live/actors/show_test.exs
  elixir/apps/web/test/web/live/clients/show_test.exs
  elixir/apps/web/test/web/live/policies/show_test.exs
  elixir/apps/web/test/web/live/resources/show_test.exs
Labels: kind/bug

#5002 feat(website): Increase team user limit to 100
  website/src/app/pricing/_page.tsx
  website/src/app/pricing/plan_table.tsx
Labels: kind/feature

#5003 chore(client): update internal docs for Windows and Linux GUI Clients
  rust/gui-client/docs/intended_behavior.md
  scripts/firezone-client-gui-install.sh
Labels: kind/chore

#5005 chore(connlib): limit resource_update to resource changes
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/lib.rs
Labels: kind/chore

#5008 docs(client): add support options (Discord, email, etc.) to all Client docs
  website/src/app/kb/user-guides/android-client/readme.mdx
  website/src/app/kb/user-guides/ios-client/readme.mdx
  website/src/app/kb/user-guides/linux-client/readme.mdx
  website/src/app/kb/user-guides/macos-client/readme.mdx
  website/src/app/kb/user-guides/windows-client/readme.mdx
Labels: kind/docs

#5013 chore: remove beta mention from pricing page
  website/src/app/pricing/_page.tsx
Labels: kind/chore

#5018 chore(connlib): set_payload is called for udp packets for tests
  rust/ip-packet/src/make.rs
Labels: kind/chore

#5017 chore(connlib): ensure there are client_resources before trying to sample them in proptest
  rust/connlib/tunnel/src/tests.rs
Labels: kind/chore

#5006 chore(rust): update to Rust 1.78
  rust/Dockerfile
  rust/connlib/tunnel/src/device_channel/tun_linux.rs
  rust/gui-client/src-tauri/src/client/network_changes/linux.rs
  rust/rust-toolchain.toml
Labels: kind/chore

#4647 feat(devops): Add example for spinning up performance testing VMs on Azure
  terraform/environments/performance/.gitignore
  terraform/environments/performance/README.md
  terraform/environments/performance/main.tf
  terraform/environments/performance/variables.tf
Labels: kind/feature, kind/chore

#5030 docs: Add SupportOptions consistently to auth pages
  website/src/app/kb/authenticate/entra/readme.mdx
  website/src/app/kb/authenticate/google/readme.mdx
  website/src/app/kb/authenticate/oidc/fusion/readme.mdx
  website/src/app/kb/authenticate/okta/readme.mdx
Labels: kind/docs

#5034 chore(ux): Add sync time hint help to idp show
  elixir/apps/web/lib/web/live/settings/identity_providers/google_workspace/show.ex
  elixir/apps/web/lib/web/live/settings/identity_providers/microsoft_entra/show.ex
  elixir/apps/web/lib/web/live/settings/identity_providers/okta/show.ex
Labels: kind/chore

#5033 feat(website): New landing page
  website/next.config.mjs
  website/package.json
  website/pnpm-lock.yaml
  website/public/images/auth.png
  website/public/images/compliance.png
  website/public/images/docker.svg
  website/public/images/feature-1.png
  website/public/images/feature-2.png
  website/public/images/kubernetes.svg
  website/public/images/pulumi.svg
  website/public/images/simplified-architecture.png
  website/public/images/terraform.svg
  website/src/app/kb/user-guides/readme.mdx
  website/src/app/page.tsx
  website/src/components/Animations/ComplianceDiagram.tsx
  website/src/components/Animations/SimpleArchitecture.tsx
  website/src/components/Animations/SpeedChart.tsx
  website/src/components/Animations/UpgradeDiagram.tsx
  website/src/components/Animations/index.tsx
  website/src/components/BattleCard/index.tsx
  website/src/components/Icons/index.tsx
Labels: kind/feature

#5048 refactor(website): fix wording
  website/src/app/page.tsx
Labels: kind/refactor

#5028 chore(connlib): upgrade domain version from 0.9 to 0.10
  rust/Cargo.lock
  rust/Cargo.toml
  rust/connlib/shared/src/lib.rs
  rust/connlib/shared/src/messages.rs
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/dns.rs
  rust/connlib/tunnel/src/gateway.rs
  rust/gateway/src/eventloop.rs
  rust/gateway/src/messages.rs
Labels: kind/chore

#4978 feat(windows-client): run the GUI and tunnel in separate processes
  rust/Cargo.lock
  rust/connlib/clients/shared/src/lib.rs
  rust/gui-client/src-tauri/Cargo.toml
  rust/gui-client/src-tauri/src/bin/firezone-client-ipc.rs
  rust/gui-client/src-tauri/src/client.rs
  rust/gui-client/src-tauri/src/client/debug_commands.rs
  rust/gui-client/src-tauri/src/client/deep_link/linux.rs
  rust/gui-client/src-tauri/src/client/deep_link/windows.rs
  rust/gui-client/src-tauri/src/client/elevation.rs
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/ipc.rs
  rust/gui-client/src-tauri/src/client/ipc/linux.rs
  rust/gui-client/src-tauri/src/client/ipc/macos.rs
  rust/gui-client/src-tauri/src/client/ipc/windows.rs
  rust/gui-client/src-tauri/src/client/logging.rs
  rust/gui-client/src-tauri/src/client/resolvers.rs
  rust/gui-client/src-tauri/src/client/settings.rs
  rust/gui-client/src-tauri/src/client/tunnel-wrapper/in_proc.rs
  rust/gui-client/src-tauri/src/client/tunnel-wrapper/ipc.rs
  rust/headless-client/Cargo.toml
  rust/headless-client/src/imp_windows.rs
  rust/headless-client/src/known_dirs.rs
  rust/headless-client/src/lib.rs
  rust/headless-client/src/linux.rs
  rust/headless-client/src/windows.rs
  rust/headless-client/src/windows/wintun/README.md
  rust/headless-client/src/windows/wintun/bin/amd64/wintun.dll
  rust/headless-client/src/windows/wintun/bin/arm64/wintun.dll
  rust/headless-client/src/windows/wintun_install.rs
Labels: kind/feature, kind/chore

#5058 docs: Fix code block styling
  website/mdx-components.tsx
  website/src/app/blog/apr-2024-update/readme.mdx
  website/src/app/blog/how-dns-works-in-firezone/readme.mdx
  website/src/app/blog/mar-2024-update/readme.mdx
  website/src/app/docs/administer/backup/readme.mdx
  website/src/app/docs/administer/troubleshoot/readme.mdx
  website/src/app/docs/administer/upgrade/readme.mdx
  website/src/app/docs/authenticate/saml/readme.mdx
  website/src/app/docs/deploy/docker/readme.mdx
  website/src/app/docs/reference/reverse-proxy-templates/apache/readme.mdx
  website/src/app/docs/reference/reverse-proxy-templates/haproxy/readme.mdx
  website/src/app/docs/reference/security-controls/readme.mdx
  website/src/app/globals.css
  website/src/app/kb/administer/logs/readme.mdx
  website/src/app/kb/administer/troubleshooting/readme.mdx
  website/src/app/kb/administer/uninstall/readme.mdx
  website/src/app/kb/administer/upgrading/readme.mdx
  website/src/app/kb/architecture/critical-sequences/readme.mdx
  website/src/app/kb/architecture/security-controls/readme.mdx
  website/src/app/kb/authenticate/google/readme.mdx
  website/src/app/kb/authenticate/oidc/readme.mdx
  website/src/app/kb/deploy/dns/readme.mdx
  website/src/app/kb/use-cases/postgres-access/readme.mdx
  website/src/app/kb/use-cases/secure-dns/readme.mdx
  website/src/app/kb/user-guides/linux-client/readme.mdx
  website/src/app/page.tsx
  website/tailwind.config.js
Labels: kind/docs

#5055 chore(connlib): make encapsulate pure
  rust/connlib/tunnel/src/client.rs
Labels: kind/chore

#5053 chore(connlib): fix copy-paste typo in comment about DNS
  rust/connlib/shared/src/lib.rs
Labels: kind/chore

#5066 chore(gui-client): disable the Welcome screen only after the first sign-in
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/gui/ran_before.rs
  scripts/tests/smoke-test-gui-linux.sh
Labels: kind/chore, area/tauri_client

#5067 chore(gui-client): remove incorrect DNS deactivation
  rust/gui-client/src-tauri/src/client/gui.rs
Labels: kind/chore, area/tauri_client

#5073 fix(portal): UX: only show everyone note for users
  elixir/apps/web/lib/web/live/actors/groups.ex
Labels: kind/bug

#5059 chore(relay): allow domains in `--otel-grpc-endpoint`
  rust/relay/src/main.rs
Labels: kind/feature, kind/chore

#5043 feat(gateway): added support for docker secrets (#5031)
  rust/docker-init.sh
Labels: kind/feature

#5078 chore(connlib): remove unused `ConnlibError::Snownet` variant
  rust/Cargo.lock
  rust/connlib/shared/Cargo.toml
  rust/connlib/shared/src/error.rs
Labels: kind/chore

#5088 refactor(apple): Decode all expected JSON fields from onUpdateResources
  swift/apple/FirezoneKit/Sources/FirezoneKit/Models/Resource.swift
  swift/apple/FirezoneKit/Sources/FirezoneKit/Models/Site.swift
Labels: kind/refactor

#5089 refactor(apple): Remove unused vars in AppDelegate
  swift/apple/Firezone/Application/FirezoneApp.swift
Labels: kind/refactor

#5093 chore: bump version to 1.0.5 for linux/windows
  .github/workflows/_build_artifacts.yml
  .github/workflows/_deploy_production.yml
  .github/workflows/_tauri.yml
  .github/workflows/_terraform.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  elixir/VERSION
  rust/Cargo.lock
  rust/connlib/clients/android/Cargo.toml
  rust/connlib/clients/apple/Cargo.toml
  rust/connlib/clients/shared/Cargo.toml
  rust/connlib/shared/Cargo.toml
  rust/connlib/snownet/Cargo.toml
  rust/connlib/tunnel/Cargo.toml
  rust/firezone-cli-utils/Cargo.toml
  rust/gateway/Cargo.toml
  rust/gui-client/src-tauri/Cargo.toml
  rust/headless-client/Cargo.toml
  rust/http-health-check/Cargo.toml
  rust/http-test-server/Cargo.toml
  rust/ip-packet/Cargo.toml
  rust/phoenix-channel/Cargo.toml
  rust/relay/Cargo.toml
  rust/snownet-tests/Cargo.toml
  scripts/Makefile
  website/redirects.js
Labels: kind/chore

#5090 fix(apple): Fix menu display and activation
  swift/apple/FirezoneKit/Sources/FirezoneKit/Views/MenuBar.swift
Labels: kind/bug

#5095 refactor(elixir): remove telemetry id generation (#5084)
  elixir/Dockerfile
  elixir/rel/overlays/bin/bootstrap
Labels: kind/refactor

#5087 chore(firezone-tunnel/android): revert regression from #4788
  rust/connlib/tunnel/src/device_channel.rs
Labels: kind/chore

#5096 chore: Add google search domain verification for firez.one
  terraform/environments/staging/dns.tf
Labels: kind/chore

#5097 chore(website): Add Google Ads and LinkedIn Ads trackers to the website
  website/src/components/RootLayout/index.tsx
Labels: kind/chore

#4728 test(connlib): simulate IO in state machine tests
  .github/workflows/_rust.yml
  rust/Cargo.lock
  rust/connlib/shared/src/error.rs
  rust/connlib/shared/src/messages.rs
  rust/connlib/shared/src/messages/client.rs
  rust/connlib/snownet/src/node.rs
  rust/connlib/snownet/tests/lib.rs
  rust/connlib/tunnel/Cargo.toml
  rust/connlib/tunnel/proptest-regressions/tests.txt
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/lib.rs
  rust/connlib/tunnel/src/peer.rs
  rust/connlib/tunnel/src/tests.rs
  rust/ip-packet/src/lib.rs
  rust/relay/src/auth.rs
  rust/relay/src/proptest.rs
  rust/relay/src/server.rs
  rust/relay/src/server/client_message.rs
Labels: kind/test

#5103 chore(connlib): make `GatewayState::encapsulate` pure
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/lib.rs
Labels: kind/chore

#5109 test(connlib): ensure components don't have the same IP
  rust/connlib/tunnel/proptest-regressions/tests.txt
  rust/connlib/tunnel/src/tests.rs
Labels: kind/test

#5101 test(connlib): implement PR feedback
  rust/connlib/tunnel/src/tests.rs
Labels: kind/test

#5110 docs: add note for compose v2
  docs/CONTRIBUTING.md
Labels: kind/docs

#5112 chore(infra): Add Oneleet domain verification
  terraform/environments/production/dns.tf
  terraform/environments/staging/dns.tf
Labels: kind/chore

#5113 chore(infra): Don't collide root TXT
  terraform/environments/production/dns.tf
  terraform/environments/staging/dns.tf
Labels: kind/chore

#5104 test(connlib): ensure ICMP replies make it back to the client
  rust/connlib/tunnel/src/tests.rs
  rust/ip-packet/src/make.rs
Labels: kind/test

#5105 docs(connlib): add more inline docs to connlib's state
  rust/Cargo.toml
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/io.rs
  rust/connlib/tunnel/src/lib.rs
Labels: kind/docs

#5107 test(connlib): ensure effective DNS servers match
  rust/connlib/clients/shared/src/eventloop.rs
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/lib.rs
  rust/connlib/tunnel/src/tests.rs
Labels: kind/test

#5117 chore(infra): Add CNAME for `trust.firezone.dev` pointing to `trust.oneleet.com`
  terraform/environments/production/dns.tf
Labels: kind/chore

#5116 feat(macOS): Add resource and site details to macOS menu
  swift/apple/FirezoneKit/Sources/FirezoneKit/Models/Resource.swift
  swift/apple/FirezoneKit/Sources/FirezoneKit/Models/Site.swift
  swift/apple/FirezoneKit/Sources/FirezoneKit/Views/MenuBar.swift
Labels: kind/feature

#5082 fix(connlib): deterministically route packets in case of overlap
  rust/connlib/tunnel/proptest-regressions/tests.txt
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/dns.rs
  rust/connlib/tunnel/src/peer_store.rs
  rust/connlib/tunnel/src/tests.rs
Labels: kind/bug

#5125 feat(website): RunaCap badge
  website/next.config.mjs
  website/src/app/page.tsx
  website/src/components/Animations/ComplianceDiagram.tsx
  website/src/components/Animations/SimpleArchitecture.tsx
  website/src/components/Badges/index.tsx
Labels: kind/feature

#5131 chore(website): update termly embed script
  website/src/components/RootLayout/index.tsx
Labels: kind/chore

#5133 fix(website): Fix script load errors and warnings
  website/next.config.mjs
  website/src/components/Analytics/index.tsx
  website/src/components/Analytics/types.ts
  website/src/components/Providers/index.jsx
  website/src/components/RootLayout/index.tsx
  website/src/components/RootNavbar/index.tsx
Labels: kind/bug

#5132 ci: Lint/fix website and docs for consistent formatting using prettier
  .github/codespellrc
  .github/pre-commit-config.yaml
  website/README.md
  website/src/app/docs/authenticate/oidc/auth0/readme.mdx
  website/src/app/docs/authenticate/oidc/azuread/readme.mdx
  website/src/app/docs/authenticate/oidc/keycloak/readme.mdx
  website/src/app/docs/authenticate/oidc/okta/readme.mdx
  website/src/app/docs/authenticate/oidc/onelogin/readme.mdx
  website/src/app/docs/authenticate/saml/google/readme.mdx
  website/src/app/docs/user-guides/add-devices/readme.mdx
  website/src/app/docs/user-guides/egress-rules/readme.mdx
  website/src/app/docs/user-guides/use-cases/nat-gateway/readme.mdx
  website/src/app/docs/user-guides/use-cases/reverse-tunnel/readme.mdx
  website/src/app/kb/use-cases/host-access/readme.mdx
  website/src/app/kb/use-cases/nat-gateway/readme.mdx
  website/src/app/kb/use-cases/private-network-access/readme.mdx
Labels: area/ci

#5074 refactor(gui-client): de-dupe IPC server code, enable debug IPC service for Linux
  rust/gui-client/src-tauri/deb_files/firezone-client-ipc.service
  rust/headless-client/Cargo.toml
  rust/headless-client/src/lib.rs
  rust/headless-client/src/linux.rs
  rust/headless-client/src/windows.rs
Labels: kind/refactor

#5098 chore(gui-client): Bubble up connlib panics as error dialogs in the GUI
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/ipc.rs
  rust/headless-client/src/lib.rs
Labels: kind/chore

#5129 feat(iOS): Add Resource details view
  swift/apple/Firezone/Assets.xcassets/LogoText.imageset/Contents.json
  swift/apple/Firezone/Assets.xcassets/LogoText.imageset/logo-text-any.svg
  swift/apple/Firezone/Assets.xcassets/LogoText.imageset/logo-text-dark.svg
  swift/apple/Firezone/Assets.xcassets/LogoText.imageset/logo-text-light.svg
  swift/apple/Firezone/Assets.xcassets/LogoText.imageset/welcomeview-dark 1.svg
  swift/apple/Firezone/Assets.xcassets/LogoText.imageset/welcomeview-dark 2.svg
  swift/apple/Firezone/Assets.xcassets/LogoText.imageset/welcomeview-dark.svg
  swift/apple/Firezone/Assets.xcassets/LogoText.imageset/welcomeview-light 1.svg
  swift/apple/Firezone/Assets.xcassets/LogoText.imageset/welcomeview-light 2.svg
  swift/apple/Firezone/Assets.xcassets/LogoText.imageset/welcomeview-light 3.svg
  swift/apple/Firezone/Assets.xcassets/LogoText.imageset/welcomeview-light 4.svg
  swift/apple/Firezone/Assets.xcassets/LogoText.imageset/welcomeview-light 5.svg
  swift/apple/Firezone/Assets.xcassets/LogoText.imageset/welcomeview-light.svg
  swift/apple/FirezoneKit/Sources/FirezoneKit/Views/AppView.swift
  swift/apple/FirezoneKit/Sources/FirezoneKit/Views/ResourceView.swift
  swift/apple/FirezoneKit/Sources/FirezoneKit/Views/SessionView.swift
  swift/apple/FirezoneKit/Sources/FirezoneKit/Views/SignedOutView.swift
  swift/apple/FirezoneKit/Sources/FirezoneKit/Views/WelcomeView.swift
  swift/apple/FirezoneKit/Sources/FirezoneKit/Views/iOSNavigationView.swift
Labels: kind/feature

#5134 feat(android): Show resource details when tapping a Resource
  kotlin/android/app/build.gradle.kts
  kotlin/android/app/src/main/java/dev/firezone/android/features/session/ui/ResourceDetailsBottomSheet.kt
  kotlin/android/app/src/main/java/dev/firezone/android/features/session/ui/ResourcesAdapter.kt
  kotlin/android/app/src/main/java/dev/firezone/android/features/session/ui/SessionActivity.kt
  kotlin/android/app/src/main/java/dev/firezone/android/tunnel/model/Resource.kt
  kotlin/android/app/src/main/java/dev/firezone/android/tunnel/model/Site.kt
  kotlin/android/app/src/main/res/layout/fragment_resource_details.xml
Labels: kind/feature

#5142 feat(gui-client): add resource details to linux and windows clients
  rust/connlib/shared/src/callbacks.rs
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/gui/system_tray_menu.rs
Labels: kind/feature

#5151 refactor(connlib): directly construct weighted union instead of `prop_oneof`
  rust/connlib/tunnel/src/tests.rs
Labels: kind/refactor

#5148 chore(connlib): add debug logs around DNS queries
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/dns.rs
Labels: kind/chore

#5146 test(connlib): generate actual domain names as inputs
  rust/Cargo.lock
  rust/Cargo.toml
  rust/connlib/shared/Cargo.toml
  rust/connlib/shared/src/proptest.rs
Labels: kind/test

#5147 chore(ip-packet): model ICMP packets
  rust/connlib/snownet/tests/lib.rs
  rust/connlib/tunnel/src/peer.rs
  rust/connlib/tunnel/src/tests.rs
  rust/ip-packet/src/lib.rs
  rust/ip-packet/src/make.rs
Labels: kind/chore

#5152 test(connlib): reduce number of sites to 3
  rust/connlib/shared/src/proptest.rs
Labels: kind/test

#5153 ci(rust): compile tests with optimistions
  .github/workflows/_rust.yml
Labels: area/ci

#5150 test(connlib): assert on expected ICMP handshakes
  rust/connlib/tunnel/src/tests.rs
Labels: kind/test

#5145 chore(connlib): make device buffers smaller
  rust/connlib/tunnel/src/lib.rs
Labels: kind/chore

#5161 test(connlib): don't route packets from IPs other than the client's
  rust/connlib/tunnel/proptest-regressions/tests.txt
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/tests.rs
Labels: kind/test

#5162 test(connlib): use same tunnel IP subnets as real code
  rust/connlib/tunnel/src/tests.rs
Labels: kind/test

#5160 chore(connlib): split allowed_ips into ipv4 and ipv6 in `ClientOnGateway`
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/peer.rs
  rust/connlib/tunnel/src/tests.rs
  rust/gateway/src/eventloop.rs
Labels: kind/chore

#5159 docs(gui-client): add instructions for auto-start
  website/src/app/kb/user-guides/linux-gui-client/readme.mdx
  website/src/app/kb/user-guides/windows-client/readme.mdx
Labels: kind/docs

#5157 chore(gui-client): log update URL if fetching the version number fails
  rust/gui-client/src-tauri/src/client/updates.rs
Labels: kind/chore

#5083 test(connlib): resolve DNS resources in `tunnel_test`
  rust/Cargo.lock
  rust/connlib/shared/src/messages/client.rs
  rust/connlib/tunnel/Cargo.toml
  rust/connlib/tunnel/proptest-regressions/tests.txt
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/dns.rs
  rust/connlib/tunnel/src/tests.rs
  rust/ip-packet/Cargo.toml
  rust/ip-packet/src/make.rs
Labels: kind/test

#5169 chore(connlib): fix echo request and reply packets
  rust/ip-packet/src/lib.rs
  rust/ip-packet/src/make.rs
Labels: kind/chore

#5165 docs(apple-client): update Client user guides
  website/src/app/kb/user-guides/ios-client/page.tsx
  website/src/app/kb/user-guides/ios-client/readme.mdx
  website/src/app/kb/user-guides/linux-gui-client/page.tsx
  website/src/app/kb/user-guides/linux-gui-client/readme.mdx
  website/src/app/kb/user-guides/macos-client/page.tsx
  website/src/app/kb/user-guides/macos-client/readme.mdx
  website/src/app/kb/user-guides/windows-client/page.tsx
  website/src/app/kb/user-guides/windows-client/readme.mdx
Labels: kind/docs

#5167 docs: Make process clearer around access approval
  elixir/README.md
Labels: kind/docs

#5166 docs(gateway): make portal and KB consistent
  elixir/apps/web/lib/web/components/navigation_components.ex
  elixir/apps/web/lib/web/live/sites/new_token.ex
  website/src/app/kb/deploy/gateways/readme.mdx
Labels: kind/docs

#5158 refactor(gui-client): finish refactors from #4978
  rust/gui-client/src-tauri/src/client.rs
  rust/gui-client/src-tauri/src/client/elevation.rs
  rust/headless-client/src/lib.rs
  rust/headless-client/src/linux.rs
  rust/headless-client/src/windows.rs
Labels: kind/refactor
