Repository firezone/firezone, pull requests merged in 2024-06, with the labels that each got.

#5111 refactor(firezone-tunnel): move routes and DNS control out of connlib and up to the Client
  rust/Cargo.lock
  rust/connlib/shared/Cargo.toml
  rust/connlib/shared/src/callbacks.rs
  rust/connlib/shared/src/lib.rs
  rust/connlib/shared/src/linux.rs
  rust/connlib/shared/src/tun_device_manager.rs
  rust/connlib/shared/src/tun_device_manager/linux.rs
  rust/connlib/shared/src/tun_device_manager/windows.rs
  rust/connlib/shared/src/windows.rs
  rust/connlib/tunnel/Cargo.toml
  rust/connlib/tunnel/src/device_channel.rs
  rust/connlib/tunnel/src/device_channel/tun_linux.rs
  rust/connlib/tunnel/src/device_channel/tun_windows.rs
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/lib.rs
  rust/connlib/tunnel/src/sockets.rs
  rust/gateway/src/main.rs
  rust/gui-client/src-tauri/src/client.rs
  rust/gui-client/src-tauri/src/client/deep_link/windows.rs
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/ipc.rs
  rust/gui-client/src-tauri/src/client/network_changes/linux.rs
  rust/gui-client/src-tauri/src/client/network_changes/windows.rs
  rust/gui-client/src-tauri/src/client/resolvers.rs
  rust/headless-client/Cargo.toml
  rust/headless-client/src/device_id.rs
  rust/headless-client/src/dns_control.rs
  rust/headless-client/src/dns_control/linux.rs
  rust/headless-client/src/dns_control/linux/etc_resolv_conf.rs
  rust/headless-client/src/dns_control/windows.rs
  rust/headless-client/src/lib.rs
  rust/headless-client/src/linux.rs
  rust/headless-client/src/windows.rs
  rust/headless-client/src/windows/wintun_install.rs
Labels: kind/refactor

#5198 chore(deps): bump gradle to 8.8
  kotlin/android/gradle/wrapper/gradle-wrapper.jar
  kotlin/android/gradle/wrapper/gradle-wrapper.properties
  kotlin/android/gradlew
  kotlin/android/gradlew.bat
Labels: kind/chore

#5205 fix(website): Fix landing page layout bugs on mobile
  website/pnpm-lock.yaml
  website/src/app/page.tsx
  website/src/components/BattleCard/index.tsx
Labels: kind/bug

#5192 test(connlib): don't modify asserted state
  rust/connlib/tunnel/src/tests.rs
Labels: kind/test

#5206 refactor(connlib): reuse `ResourceDst` for assertion
  rust/connlib/tunnel/proptest-regressions/tests.txt
  rust/connlib/tunnel/src/tests.rs
Labels: kind/refactor, kind/test

#5168 test(connlib): send DNS queries to non-resources
  rust/connlib/tunnel/proptest-regressions/tests.txt
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/io.rs
  rust/connlib/tunnel/src/lib.rs
  rust/connlib/tunnel/src/tests.rs
  rust/ip-packet/src/make.rs
Labels: kind/test

#5212 chore(ci): prevent uploading old artifacts to new release
  .github/workflows/_build_artifacts.yml
Labels: kind/chore

#5208 feat(relay): support custom turn port
  elixir/apps/api/lib/api/relay/socket.ex
  rust/connlib/snownet/tests/lib.rs
  rust/connlib/tunnel/src/tests.rs
  rust/phoenix-channel/src/login_url.rs
  rust/relay/README.md
  rust/relay/src/main.rs
  rust/relay/src/server.rs
  rust/relay/tests/regression.rs
Labels: kind/feature

#5217 test(connlib): make the packet source an explicit input
  rust/connlib/tunnel/proptest-regressions/tests.txt
  rust/connlib/tunnel/src/tests.rs
Labels: kind/test

#5207 test(connlib): refactor checked ICMP properties
  rust/connlib/tunnel/src/tests.rs
Labels: kind/test

#5209 test(connlib): generate resources with wildcard and `?` addresses
  rust/Cargo.lock
  rust/connlib/shared/Cargo.toml
  rust/connlib/shared/src/messages/client.rs
  rust/connlib/shared/src/proptest.rs
  rust/connlib/tunnel/src/tests.rs
Labels: kind/test

#5254 fix(ux): Settings linebreak
  elixir/apps/web/lib/web/components/core_components.ex
  elixir/apps/web/lib/web/live/settings/dns.ex
Labels: kind/bug

#5170 test: fix 21 mutants from `cargo-mutants`
  rust/gui-client/src-tauri/src/client/about.rs
  rust/headless-client/src/known_dirs.rs
  rust/headless-client/src/known_dirs/linux.rs
  rust/headless-client/src/known_dirs/macos.rs
  rust/headless-client/src/known_dirs/windows.rs
  rust/headless-client/src/windows.rs
Labels: kind/test

#5156 fix(tauri_client/windows): close and re-open the named pipe properly, and back off if needed
  rust/headless-client/src/lib.rs
  rust/headless-client/src/linux.rs
  rust/headless-client/src/windows.rs
Labels: kind/bug

#5220 test(connlib): increase buffer sizes
  rust/connlib/tunnel/src/tests.rs
Labels: kind/test

#5255 fix(ux): consistent pagination size of 10
  elixir/apps/web/lib/web/live/actors/groups.ex
  elixir/apps/web/lib/web/live/actors/show.ex
  elixir/apps/web/lib/web/live/clients/show.ex
  elixir/apps/web/lib/web/live/flows/show.ex
  elixir/apps/web/lib/web/live/groups/edit_actors.ex
  elixir/apps/web/lib/web/live/policies/show.ex
  elixir/apps/web/lib/web/live/relay_groups/index.ex
  elixir/apps/web/lib/web/live/relay_groups/show.ex
  elixir/apps/web/lib/web/live/resources/show.ex
  elixir/apps/web/lib/web/live/settings/api_clients/show.ex
  elixir/apps/web/lib/web/live/sites/show.ex
  elixir/apps/web/lib/web/live_table.ex
  elixir/apps/web/test/web/live_table_test.exs
Labels: kind/bug

#5224 refactor(connlib-client-shared): remove unnecessary `Arc<Mutex>` from logger
  rust/connlib/clients/shared/src/file_logger.rs
Labels: kind/refactor

#5218 test(connlib): generate up to 6 resolved IPs
  rust/connlib/tunnel/src/tests.rs
Labels: kind/test

#5221 test(connlib): reduce number of local rejections
  rust/connlib/shared/src/proptest.rs
  rust/connlib/tunnel/src/tests.rs
Labels: kind/test

#5258 fix(ux): Adjust table column widths and overflow badges by truncating them
  elixir/apps/web/lib/web/components/core_components.ex
  elixir/apps/web/lib/web/components/layouts/app.html.heex
  elixir/apps/web/lib/web/components/navigation_components.ex
  elixir/apps/web/lib/web/live/actors/groups.ex
  elixir/apps/web/lib/web/live/actors/index.ex
  elixir/apps/web/lib/web/live/actors/show.ex
  elixir/apps/web/lib/web/live/clients/index.ex
  elixir/apps/web/lib/web/live/clients/show.ex
  elixir/apps/web/lib/web/live/flows/show.ex
  elixir/apps/web/lib/web/live/groups/edit_actors.ex
  elixir/apps/web/lib/web/live/groups/index.ex
  elixir/apps/web/lib/web/live/groups/show.ex
  elixir/apps/web/lib/web/live/policies/index.ex
  elixir/apps/web/lib/web/live/policies/show.ex
  elixir/apps/web/lib/web/live/relay_groups/index.ex
  elixir/apps/web/lib/web/live/relay_groups/show.ex
  elixir/apps/web/lib/web/live/resources/index.ex
  elixir/apps/web/lib/web/live/resources/show.ex
  elixir/apps/web/lib/web/live/settings/identity_providers/index.ex
  elixir/apps/web/lib/web/live/sites/gateways/index.ex
  elixir/apps/web/lib/web/live/sites/index.ex
  elixir/apps/web/lib/web/live/sites/show.ex
Labels: kind/bug

#5222 refactor(connlib): remove DNS mangling from connection state
  rust/connlib/tunnel/proptest-regressions/tests.txt
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/peer.rs
Labels: kind/refactor

#5260 fix(ux): Remove some padding around vertical_table
  elixir/apps/web/lib/web/components/table_components.ex
Labels: kind/bug

#5256 fix(ux): Use icon sizes consistent with text size
  elixir/apps/web/lib/web/components/core_components.ex
  elixir/apps/web/lib/web/components/form_components.ex
  elixir/apps/web/lib/web/components/layouts/app.html.heex
  elixir/apps/web/lib/web/components/navigation_components.ex
  elixir/apps/web/lib/web/live/actors/show.ex
  elixir/apps/web/lib/web/live/settings/identity_providers/components.ex
  elixir/apps/web/lib/web/live/sites/index.ex
  elixir/apps/web/test/web/live/sidebar_test.exs
Labels: kind/bug

#5264 refactor(connlib): don't strinify domain name early
  rust/connlib/tunnel/src/dns.rs
  rust/connlib/tunnel/src/io.rs
  rust/connlib/tunnel/src/tests.rs
Labels: kind/refactor

#5265 fix(ux): Align filters horizontally on `md` breakpoints and higher
  elixir/apps/web/lib/web/components/core_components.ex
  elixir/apps/web/lib/web/components/form_components.ex
  elixir/apps/web/lib/web/components/navigation_components.ex
  elixir/apps/web/lib/web/live/groups/show.ex
  elixir/apps/web/lib/web/live/resources/new.ex
  elixir/apps/web/lib/web/live_table.ex
Labels: kind/bug

#5216 chore(gui-client): improve logging around Client startup and IPC connections
  rust/Cargo.lock
  rust/gui-client/src-tauri/Cargo.toml
  rust/gui-client/src-tauri/src/client.rs
  rust/gui-client/src-tauri/src/client/debug_commands.rs
  rust/gui-client/src-tauri/src/client/gui.rs
  rust/gui-client/src-tauri/src/client/ipc.rs
  rust/gui-client/src-tauri/src/client/ipc/linux.rs
  rust/gui-client/src-tauri/src/client/ipc/windows.rs
  rust/gui-client/src-tauri/src/client/logging.rs
  rust/gui-client/src-tauri/src/client/settings.rs
  rust/gui-client/src-tauri/src/client/updates.rs
  rust/headless-client/Cargo.toml
  rust/headless-client/src/heartbeat.rs
  rust/headless-client/src/lib.rs
  rust/headless-client/src/linux.rs
  rust/headless-client/src/windows.rs
Labels: kind/chore

#5278 chore(infra): Allow pentester to sign up
  terraform/environments/staging/portal.tf
Labels: kind/chore

#5277 ci(gui-client): remove unused bare exe from CI artifacts
  .github/workflows/_tauri.yml
Labels: area/ci, area/tauri_client

#5263 fix(connlib): reply with `SERVFAIL` on DNS query errors
  rust/connlib/tunnel/Cargo.toml
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/dns.rs
  rust/connlib/tunnel/src/io.rs
  rust/connlib/tunnel/src/lib.rs
  rust/connlib/tunnel/src/tests.rs
  rust/ip-packet/src/lib.rs
  rust/ip-packet/src/make.rs
Labels: kind/bug

#5286 chore: Update codeowners
  .github/CODEOWNERS
  website/src/app/about/team.tsx
Labels: kind/chore

#5144 feat(portal): Add Policy conditions
  docker-compose.yml
  elixir/apps/api/lib/api/client/channel.ex
  elixir/apps/api/test/api/client/channel_test.exs
  elixir/apps/domain/lib/domain/accounts/features.ex
  elixir/apps/domain/lib/domain/accounts/features/changeset.ex
  elixir/apps/domain/lib/domain/config/definitions.ex
  elixir/apps/domain/lib/domain/flows.ex
  elixir/apps/domain/lib/domain/geo.ex
  elixir/apps/domain/lib/domain/policies.ex
  elixir/apps/domain/lib/domain/policies/condition.ex
  elixir/apps/domain/lib/domain/policies/condition/changeset.ex
  elixir/apps/domain/lib/domain/policies/condition/evaluator.ex
  elixir/apps/domain/lib/domain/policies/policy.ex
  elixir/apps/domain/lib/domain/policies/policy/changeset.ex
  elixir/apps/domain/lib/domain/repo/changeset.ex
  elixir/apps/domain/lib/domain/resources/resource.ex
  elixir/apps/domain/lib/domain/resources/resource/query.ex
  elixir/apps/domain/lib/domain/types/cidr.ex
  elixir/apps/domain/lib/domain/types/ip.ex
  elixir/apps/domain/lib/domain/types/ip_port.ex
  elixir/apps/domain/mix.exs
  elixir/apps/domain/priv/repo/migrations/20240507225142_add_policies_constraints.exs
  elixir/apps/domain/priv/repo/seeds.exs
  elixir/apps/domain/test/domain/config/validator_test.exs
  elixir/apps/domain/test/domain/flows_test.exs
  elixir/apps/domain/test/domain/policies/condition/evaluator_test.exs
  elixir/apps/domain/test/domain/policies_test.exs
  elixir/apps/domain/test/domain/resources_test.exs
  elixir/apps/domain/test/support/fixtures/accounts.ex
  elixir/apps/web/lib/web/components/core_components.ex
  elixir/apps/web/lib/web/components/form_components.ex
  elixir/apps/web/lib/web/live/actors/show.ex
  elixir/apps/web/lib/web/live/clients/show.ex
  elixir/apps/web/lib/web/live/policies/components.ex
  elixir/apps/web/lib/web/live/policies/new.ex
  elixir/apps/web/lib/web/live/policies/show.ex
  elixir/apps/web/lib/web/live/resources/show.ex
  elixir/apps/web/mix.exs
  elixir/apps/web/test/web/live/policies/new_test.exs
  elixir/apps/web/test/web/live/policies/show_test.exs
  elixir/config/config.exs
  elixir/config/runtime.exs
  elixir/mix.lock
  terraform/environments/production/portal.tf
  terraform/environments/staging/portal.tf
Labels: kind/feature

#5285 chore(ci): Bump CI tool versions
  .github/workflows/_build_artifacts.yml
  .github/workflows/_elixir.yml
  .tool-versions
  docker-compose.yml
  terraform/environments/production/versions.tf
  terraform/environments/staging/versions.tf
Labels: kind/chore

#5293 ci: Fix leftovers from #5287
  .github/workflows/cd.yml
Labels: area/ci

#5294 ci: fix release name and artifact cp
  .github/workflows/_build_artifacts.yml
  .github/workflows/ci.yml
Labels: area/ci

#5282 docs: add more specific IP ranges for Relays
  terraform/environments/production/relays.tf
  website/public/relay-ips.json
  website/src/app/kb/deploy/gateways/readme.mdx
Labels: kind/docs

#5302 test(snownet): migrate relays for both parties
  rust/connlib/snownet/tests/lib.rs
Labels: kind/test

#5303 fix(snownet): notify remote of invalidated relay candidate
  rust/connlib/snownet/src/node.rs
Labels: kind/bug

#5283 fix(snownet): don't invalidate candidates after nomination
  rust/connlib/snownet/src/node.rs
Labels: kind/bug

#5266 refactor(connlib): split `tunnel_test` into multiple modules
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/tests.rs
  rust/connlib/tunnel/src/tests/assertions.rs
  rust/connlib/tunnel/src/tests/reference.rs
  rust/connlib/tunnel/src/tests/sim_node.rs
  rust/connlib/tunnel/src/tests/sim_portal.rs
  rust/connlib/tunnel/src/tests/sim_relay.rs
  rust/connlib/tunnel/src/tests/strategies.rs
  rust/connlib/tunnel/src/tests/sut.rs
  rust/connlib/tunnel/src/tests/transition.rs
Labels: kind/refactor

#5300 chore(website): Add sign in to navbar
  website/src/components/RootNavbar/index.tsx
Labels: kind/chore

#5301 chore(portal): Fix policy creation for conditions disabled; tweak design
  elixir/apps/web/lib/web/components/form_components.ex
  elixir/apps/web/lib/web/live/policies/components.ex
  elixir/apps/web/lib/web/live/policies/new.ex
  elixir/apps/web/test/web/live/policies/new_test.exs
Labels: kind/chore

#5305 chore(snownet): improve logs on blocked STUN traffic
  rust/connlib/snownet/src/allocation.rs
  rust/connlib/snownet/src/node.rs
Labels: kind/chore

#5203 feat(blog): using Tauri
  .github/codespellrc
  website/public/asciinema/tauri.cast
  website/public/images/avatars/reactorscram.png
  website/public/images/blog/using-tauri/firezone-3a4f2cf.jpeg
  website/public/images/blog/using-tauri/firezone-926e26f57.jpeg
  website/public/images/blog/using-tauri/good-menu.png
  website/public/images/blog/using-tauri/konqueror.png
  website/public/images/blog/using-tauri/lots-of-ram.png
  website/public/images/blog/using-tauri/squashed-menu.png
  website/public/images/blog/using-tauri/webview-install-hang.png
  website/src/app/about/team.tsx
  website/src/app/blog/apr-2024-update/_page.tsx
  website/src/app/blog/enterprises-choose-open-source/page.tsx
  website/src/app/blog/firezone-1-0/_page.tsx
  website/src/app/blog/how-dns-works-in-firezone/_page.tsx
  website/src/app/blog/jan-2024-update/page.tsx
  website/src/app/blog/mar-2024-update/_page.tsx
  website/src/app/blog/may-2024-update/_page.tsx
  website/src/app/blog/page.tsx
  website/src/app/blog/release-0-5-0/page.tsx
  website/src/app/blog/release-0-6-0/page.tsx
  website/src/app/blog/secure-access/page.tsx
  website/src/app/blog/using-tauri/_page.tsx
  website/src/app/blog/using-tauri/page.tsx
  website/src/app/blog/using-tauri/readme.mdx
  website/src/components/Blog/Post/index.tsx
Labels: kind/feature

#5310 refactor(connlib): use selectors to randomly pick values
  rust/connlib/tunnel/src/tests/assertions.rs
  rust/connlib/tunnel/src/tests/reference.rs
  rust/connlib/tunnel/src/tests/sim_portal.rs
  rust/connlib/tunnel/src/tests/strategies.rs
  rust/connlib/tunnel/src/tests/sut.rs
  rust/connlib/tunnel/src/tests/transition.rs
Labels: kind/refactor

#5269 feat(portal): Add WorkOS/JumpCloud integration
  elixir/README.md
  elixir/apps/domain/lib/domain/auth/adapters.ex
  elixir/apps/domain/lib/domain/auth/adapters/jumpcloud.ex
  elixir/apps/domain/lib/domain/auth/adapters/jumpcloud/api_client.ex
  elixir/apps/domain/lib/domain/auth/adapters/jumpcloud/jobs/sync_directory.ex
  elixir/apps/domain/lib/domain/auth/adapters/jumpcloud/settings.ex
  elixir/apps/domain/lib/domain/auth/adapters/jumpcloud/settings/changeset.ex
  elixir/apps/domain/lib/domain/auth/directory_sync.ex
  elixir/apps/domain/lib/domain/auth/directory_sync/workos.ex
  elixir/apps/domain/lib/domain/auth/provider.ex
  elixir/apps/domain/lib/domain/config/definitions.ex
  elixir/apps/domain/mix.exs
  elixir/apps/domain/test/domain/auth/adapters/jumpcloud.exs
  elixir/apps/domain/test/domain/auth/adapters/jumpcloud/api_client_test.exs
  elixir/apps/domain/test/domain/auth/adapters/jumpcloud/jobs/sync_directory_test.exs
  elixir/apps/domain/test/domain/auth/adapters/okta/jobs/sync_directory.exs
  elixir/apps/domain/test/domain/auth_test.exs
  elixir/apps/domain/test/support/fixtures/auth.ex
  elixir/apps/domain/test/support/fixtures/workos.ex
  elixir/apps/domain/test/support/mocks/workos_directory.ex
  elixir/apps/web/lib/web/components/core_components.ex
  elixir/apps/web/lib/web/live/settings/identity_providers/components.ex
  elixir/apps/web/lib/web/live/settings/identity_providers/jumpcloud/components.ex
  elixir/apps/web/lib/web/live/settings/identity_providers/jumpcloud/connect.ex
  elixir/apps/web/lib/web/live/settings/identity_providers/jumpcloud/edit.ex
  elixir/apps/web/lib/web/live/settings/identity_providers/jumpcloud/new.ex
  elixir/apps/web/lib/web/live/settings/identity_providers/jumpcloud/show.ex
  elixir/apps/web/lib/web/live/settings/identity_providers/new.ex
  elixir/apps/web/lib/web/router.ex
  elixir/apps/web/priv/static/images/jumpcloud-logo.svg
  elixir/apps/web/test/web/live/settings/identity_providers/jumpcloud/connect_test.exs
  elixir/apps/web/test/web/live/settings/identity_providers/jumpcloud/edit_test.exs
  elixir/apps/web/test/web/live/settings/identity_providers/jumpcloud/new_test.exs
  elixir/apps/web/test/web/live/settings/identity_providers/jumpcloud/show_test.exs
  elixir/config/config.exs
  elixir/config/dev.exs
  elixir/config/runtime.exs
  elixir/config/test.exs
  elixir/mix.lock
  terraform/environments/production/portal.tf
  terraform/environments/production/variables.tf
  terraform/environments/staging/portal.tf
  terraform/environments/staging/variables.tf
Labels: kind/feature

#5273 feat(portal): Enable `address_description` field to provide hint for accessing Resources in Clients
  elixir/apps/domain/lib/domain/resources/resource/changeset.ex
  elixir/apps/domain/priv/repo/migrations/20240606182241_remove_null_constraint_from_address_description.exs
  elixir/apps/domain/test/domain/resources_test.exs
  elixir/apps/web/lib/web/live/resources/edit.ex
  elixir/apps/web/lib/web/live/resources/new.ex
  elixir/apps/web/lib/web/live/resources/show.ex
  elixir/apps/web/test/web/live/resources/new_test.exs
  website/public/images/kb/deploy/resources/address_description.png
  website/src/app/kb/deploy/resources/_page.tsx
  website/src/app/kb/deploy/resources/page.tsx
  website/src/app/kb/deploy/resources/readme.mdx
Labels: kind/feature

#5267 fix(portal): fix email sent flash when using oidc (#5128)
  elixir/apps/domain/lib/domain/relays/relay/changeset.ex
  elixir/apps/domain/priv/repo/migrations/20240605231610_add_port_to_relay_indexes.exs
  elixir/apps/domain/test/domain/relays_test.exs
  elixir/apps/web/lib/web/live/actors/show.ex
  elixir/apps/web/test/web/live/actors/show_test.exs
Labels: kind/bug

#5312 fix(infra): Remove stale DNS records
  terraform/environments/production/dns.tf
  terraform/environments/staging/dns.tf
Labels: kind/refactor

#5309 test(connlib): add transition for removing CIDR & DNS resources
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/tests/reference.rs
  rust/connlib/tunnel/src/tests/sim_node.rs
  rust/connlib/tunnel/src/tests/sut.rs
  rust/connlib/tunnel/src/tests/transition.rs
Labels: kind/test

#5292 fix(gui-client): let the GUI set the log filter for the IPC service
  rust/Cargo.lock
  rust/connlib/clients/shared/src/file_logger.rs
  rust/gui-client/src-tauri/Cargo.toml
  rust/gui-client/src-tauri/deb_files/firezone-client-ipc.service
  rust/gui-client/src-tauri/src/client/settings.rs
  rust/gui-client/src-tauri/win_files/service.wxs
  rust/headless-client/src/device_id.rs
  rust/headless-client/src/ipc/linux.rs
  rust/headless-client/src/known_dirs.rs
  rust/headless-client/src/known_dirs/linux.rs
  rust/headless-client/src/known_dirs/macos.rs
  rust/headless-client/src/known_dirs/windows.rs
  rust/headless-client/src/lib.rs
  rust/headless-client/src/linux.rs
  rust/headless-client/src/windows.rs
  rust/headless-client/src/windows/wintun_install.rs
  website/src/app/kb/user-guides/windows-client/readme.mdx
Labels: kind/bug

#5515 fix(infra): Bump base images to resolve CVEs
  elixir/Dockerfile
  rust/Dockerfile
Labels: kind/security

#5049 feat(connlib): clients make use of DNS mangling on gateways
  rust/connlib/clients/shared/src/eventloop.rs
  rust/connlib/shared/src/messages.rs
  rust/connlib/tunnel/proptest-regressions/peer.txt
  rust/connlib/tunnel/proptest-regressions/tests.txt
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/dns.rs
  rust/connlib/tunnel/src/lib.rs
  rust/connlib/tunnel/src/peer.rs
  rust/connlib/tunnel/src/tests/assertions.rs
  rust/connlib/tunnel/src/tests/reference.rs
  rust/connlib/tunnel/src/tests/sut.rs
Labels: kind/refactor

#5308 refactor(connlib): drop all connections when roaming
  rust/connlib/snownet/src/node.rs
  rust/connlib/snownet/tests/lib.rs
  rust/connlib/tunnel/proptest-regressions/tests.txt
  rust/connlib/tunnel/src/client.rs
  rust/connlib/tunnel/src/gateway.rs
  rust/connlib/tunnel/src/tests/reference.rs
  rust/connlib/tunnel/src/tests/sim_node.rs
  rust/connlib/tunnel/src/tests/sut.rs
  rust/connlib/tunnel/src/tests/transition.rs
  rust/snownet-tests/src/main.rs
  scripts/tests/direct-download-roaming-network.sh
Labels: kind/refactor

#5543 docs: Add AWS NAT Gateway example
  docs/README.md
  terraform/examples/.gitignore
  terraform/examples/README.md
  terraform/examples/aws/nat-gateway/README.md
  terraform/examples/aws/nat-gateway/main.tf
  terraform/examples/google-cloud/nat-gateway/README.md
  terraform/examples/google-cloud/nat-gateway/main.tf
  terraform/examples/google-cloud/nat_gateway/main.tf
  terraform/examples/google-cloud/nat_gateway/network.tf
  terraform/examples/google-cloud/nat_gateway/outputs.tf
  terraform/examples/google-cloud/nat_gateway/variables.tf
  terraform/examples/google-cloud/nat_gateway/versions.tf
  terraform/modules/aws/firezone-gateway/main.tf
  terraform/modules/aws/firezone-gateway/variables.tf
  website/public/images/kb/automate/aws-logo.svg
  website/public/images/kb/automate/gcp-logo.svg
  website/public/images/kb/automate/terraform-logo.svg
  website/public/images/kb/automate/terraform/gcp/online-gateways.png
  website/src/app/kb/automate/_page.tsx
  website/src/app/kb/automate/page.tsx
  website/src/app/kb/automate/readme.mdx
  website/src/app/kb/automate/terraform/aws/_page.tsx
  website/src/app/kb/automate/terraform/aws/page.tsx
  website/src/app/kb/automate/terraform/aws/readme.mdx
  website/src/app/kb/automate/terraform/gcp/_page.tsx
  website/src/app/kb/automate/terraform/gcp/page.tsx
  website/src/app/kb/automate/terraform/gcp/readme.mdx
  website/src/app/kb/deploy/gateways/readme.mdx
  website/src/app/page.tsx
  website/src/components/DocCards/index.tsx
  website/src/components/KbCards/index.tsx
  website/src/components/KbSidebar/index.tsx
Labels: kind/feedback
